{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.zipzoong.co.kr",
      "description": "Zipzoong API Server"
    }
  ],
  "info": {
    "version": "0.0.1",
    "title": "Zipzoong RESTAPI",
    "description": "Zipzoong Server API document"
  },
  "paths": {
    "/agreements": {
      "get": {
        "tags": [
          "agreements"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "약관 검색 조건",
            "schema": {
              "$ref": "#/components/schemas/IAgreement.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "약관 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IAgreement"
                  }
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "약관 조회",
        "description": "@summary 약관 조회\n@tag agreements\n@param query 약관 검색 조건\n@return 약관 목록",
        "x-nestia-namespace": "agreements.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "약관 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "agreements",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "약관 검색 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "약관 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/sign-in": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "oauth code, oauth type, user_type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAuthentication.ISignIn"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "200": {
            "description": "tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAuthentication.IResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "로그인",
        "description": "전달된 정보에 대응하는 특정 회원에 대한 권한이 부여된 인증 토큰을 발급한다.\n\n@summary 로그인\n@tag authentication\n@param body oauth code, oauth type, user_type\n@return tokens\n@throw 401 Unauthorized\n@throw 403 Forbidden",
        "x-nestia-namespace": "auth.sign-in.execute",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "로그인",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "oauth code, oauth type, user_type",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "tokens",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/sign-in/{oauth_type}": {
      "get": {
        "tags": [
          "authentication"
        ],
        "parameters": [
          {
            "name": "oauth_type",
            "in": "path",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "kakao"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "302": {
            "description": "redirect",
            "x-nestia-encrypted": false
          }
        },
        "summary": "oauth login redirect api",
        "description": "해당 API는 ajax API 방식으로 호출하면 안되고,\ndocument api 형식으로 요청해야 합니다.\n\n@summary oauth login redirect api\n@tag authentication\n@param oauth_type\n@return redirect",
        "x-nestia-namespace": "auth.sign-in.redirect",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "oauth login redirect api",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "oauth_type",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "redirect",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/sign-up": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "oauth code, oauth type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAuthentication.ISignUp"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "account_token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAuthentication.IAccountToken"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "회원가입",
        "description": "회원을 생성하거나 oauth-profile 요청을 위한 인증 토큰을 발급한다.\n\naccessor에 포함된 정보는 회원 정보에 기본값으로 사용할 수 있다.\n\n@summary 회원가입\n@tag authentication\n@param body oauth code, oauth type\n@return account_token\n@throw 403 Forbidden",
        "x-nestia-namespace": "auth.sign-up.execute",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "회원가입",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "oauth code, oauth type",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "account_token",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/profile": {
      "get": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OauthProfile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAuthentication.IProfile"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "소셜 계정 프로필 정보 조회",
        "description": "새로운 회원 정보를 생성할 때, 입력창 기본값을 채우기 위해 사용한다.\n\n@summary 소셜 계정 프로필 정보 조회\n@tag authentication\n@return OauthProfile\n@throw 401 Unauthorized\n@throw 403 Forbidden",
        "x-nestia-namespace": "auth.profile.get",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "소셜 계정 프로필 정보 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "OauthProfile",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/user": {
      "post": {
        "tags": [
          "authentication",
          "users"
        ],
        "parameters": [],
        "requestBody": {
          "description": "사용자 생성 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAuthentication.ICreateRequest"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAuthentication.IResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "사용자 생성",
        "description": "type 속성을 통해 사용자 분류를 구분한다.\n\n사용자 분류에 따라 포함하는 속성이 달라진다.\n\n다른 속성값은 null, \"\" 등의 속성 기본값이 사용되지만 email, phone은 OauthProfile 정보가 기본값으로 사용된다.\n\n사업자의 경우, phone 정보가 필수다.\n\nOauthProfile phone 정보가 없고, 인증코드도 요청에 포함하지 않았다면 요청은 실패한다.\n\n@summary 사용자 생성\n@tag authentication\n@tag users\n@param body 사용자 생성 정보\n@return tokens\n@throw 400 BadRequest\n@throw 401 Unauthorized\n@throw 403 Forbidden",
        "x-nestia-namespace": "auth.user.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "사용자 생성",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "사용자 생성 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "tokens",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "400 BadRequest",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/token/refresh": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "access_token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAuthentication.IAccessToken"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "token refresh",
        "description": "@summary token refresh\n@tag authentication\n@return access_token\n@throw 401 Unauthorized\n@throw 403 Forbidden",
        "x-nestia-namespace": "auth.token.refresh.execute",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "token refresh",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "access_token",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-properties": {
      "get": {
        "tags": [
          "re-properties"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "부동산 매물 필터링 조건",
            "schema": {
              "$ref": "#/components/schemas/IREProperty.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREProperty.IPaginatedResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "부동산 매물 목록 검색",
        "description": "@summary 부동산 매물 목록 검색\n@tag re-properties\n@param query 부동산 매물 필터링 조건\n@return 부동산 매물 목록",
        "x-nestia-namespace": "re-properties.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 목록 검색",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 필터링 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 목록",
                "kind": "text"
              }
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "re-properties"
        ],
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IREProperty.ICreateManyRequest"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "부동산 매물 목록",
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "부동산 매물 복수 등록",
        "description": "@summary 부동산 매물 복수 등록\n@tag re-properties\n@param query 부동산 매물 필터링 조건\n@return 부동산 매물 목록\n@throw 401 Unauthorized\n@throw 403 Forbidden",
        "x-nestia-namespace": "re-properties.createMany",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 복수 등록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 필터링 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 목록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-property-categories/super": {
      "get": {
        "tags": [
          "re-properties",
          "categories"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "부동산 매물 상위 카테고리 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IREPropertyCategory.ISuper"
                  }
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "부동산 매물 상위 카테고리 목록 조회",
        "description": "@summary 부동산 매물 상위 카테고리 목록 조회\n@tag re-properties\n@tag categories\n@return 부동산 매물 상위 카테고리 목록",
        "x-nestia-namespace": "re-property-categories.super.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 상위 카테고리 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 상위 카테고리 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-property-categories/super/{super_category_id}": {
      "get": {
        "tags": [
          "re-properties",
          "categories"
        ],
        "parameters": [
          {
            "name": "super_category_id",
            "in": "path",
            "description": "부동산 매물 상위 카테고리 id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 상위 카테고리",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREPropertyCategory.ISuper"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "부동산 매물 상위 카테고리 조회",
        "description": "@summary 부동산 매물 상위 카테고리 조회\n@tag re-properties\n@tag categories\n@param super_category_id 부동산 매물 상위 카테고리 id\n@return 부동산 매물 상위 카테고리\n@throw 404 Not Found",
        "x-nestia-namespace": "re-property-categories.super.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 상위 카테고리 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "super_category_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 상위 카테고리 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 상위 카테고리",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-property-categories/middle/{middle_category_id}": {
      "get": {
        "tags": [
          "re-properties",
          "categories"
        ],
        "parameters": [
          {
            "name": "middle_category_id",
            "in": "path",
            "description": "부동산 매물 중위 카테고리 id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 중위 카테고리",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREPropertyCategory.IMiddle"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "부동산 매물 중위 카테고리 조회",
        "description": "@summary 부동산 매물 중위 카테고리 조회\n@tag re-properties\n@tag categories\n@param middle_category_id 부동산 매물 중위 카테고리 id\n@return 부동산 매물 중위 카테고리\n@throw 404 Not Found",
        "x-nestia-namespace": "re-property-categories.middle.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 중위 카테고리 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "middle_category_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 중위 카테고리 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 중위 카테고리",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/service-categories/super": {
      "get": {
        "tags": [
          "services",
          "categories"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "서비스 상위 카테고리 목록 검색 조건",
            "schema": {
              "$ref": "#/components/schemas/IServiceCategory.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "서비스 상위 카테고리 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IServiceCategory.ISuper"
                  }
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "서비스 상위 카테고리 목록 검색",
        "description": "@summary 서비스 상위 카테고리 목록 검색\n@tag services\n@tag categories\n@param query 서비스 상위 카테고리 목록 검색 조건\n@return 서비스 상위 카테고리 목록",
        "x-nestia-namespace": "service-categories.super.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "서비스 상위 카테고리 목록 검색",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "services",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "서비스 상위 카테고리 목록 검색 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "서비스 상위 카테고리 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/service-categories/super/{super_category_id}": {
      "get": {
        "tags": [
          "services",
          "categories"
        ],
        "parameters": [
          {
            "name": "super_category_id",
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "서비스 상위 카테고리 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IServiceCategory.ISuper"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "서비스 상위 카테고리 조회",
        "description": "@summary 서비스 상위 카테고리 조회\n@tag services\n@tag categories\n@param category_id 서비스 상위 카테고리 id\n@return 서비스 상위 카테고리 정보\n@throw 404 Not Found",
        "x-nestia-namespace": "service-categories.super.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "서비스 상위 카테고리 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "services",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "category_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "서비스 상위 카테고리 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "서비스 상위 카테고리 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/customers/me": {
      "get": {
        "tags": [
          "customers",
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "일반 고객 내 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICustomer.IPrivate"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "내 정보 조회",
        "description": "@summary 내 정보 조회\n@tag customers\n@tag users\n@return 일반 고객 내 정보\n@throw 401 Unauthorized\n@throw 403 Forbidden",
        "x-nestia-namespace": "users.customers.me.get",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "내 정보 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "customers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "일반 고객 내 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/customers/me/zipzoong-care/requests": {
      "get": {
        "tags": [
          "customers",
          "zipzoong-care"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "목록 검색 조건",
            "schema": {
              "$ref": "#/components/schemas/IZipzoongCareRequest.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "집중 케어 신청 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IZipzoongCareRequest.IPaginatedResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "집중 케어 신청 목록 검색",
        "description": "@summary 집중 케어 신청 목록 검색\n@tag customers\n@tag zipzoong-care\n@param query 목록 검색 조건\n@return 집중 케어 신청 목록\n@throw 401 Unauthorized\n@throw 403 Forbidden",
        "x-nestia-namespace": "users.customers.me.zipzoong-care.requests.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "집중 케어 신청 목록 검색",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "customers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "zipzoong-care",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "목록 검색 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "집중 케어 신청 목록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "customers",
          "zipzoong-care"
        ],
        "parameters": [],
        "requestBody": {
          "description": "집중 케어 신청 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IZipzoongCareRequest.ICreateRequest"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "",
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "집중 케어 신청",
        "description": "@summary 집중 케어 신청\n@tag customers\n@tag zipzoong-care\n@param body 집중 케어 신청 정보\n@throw 401 Unauthorized\n@throw 403 Forbidden",
        "x-nestia-namespace": "users.customers.me.zipzoong-care.requests.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "집중 케어 신청",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "customers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "zipzoong-care",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "집중 케어 신청 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/hs-providers": {
      "get": {
        "tags": [
          "hs-providers",
          "users"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "필터링 기준",
            "schema": {
              "$ref": "#/components/schemas/IBusinessUser.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "생활서비스 제공자 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHSProvider.IPaginatedResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "생활서비스 전문가 목록 조회",
        "description": "@summary 생활서비스 전문가 목록 조회\n@tag hs-providers\n@tag users\n@param query 필터링 기준\n@return 생활서비스 제공자 목록",
        "x-nestia-namespace": "users.hs-providers.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "생활서비스 전문가 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs-providers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "필터링 기준",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 제공자 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/hs-providers/me": {
      "get": {
        "tags": [
          "hs-providers",
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "생활서비스 전문가 내 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHSProvider.IPrivate"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "내 정보 조회",
        "description": "@summary 내 정보 조회\n@tag hs-providers\n@tag users\n@return 생활서비스 전문가 내 정보\n@throw 401 Unauthorized\n@throw 403 Forbidden",
        "x-nestia-namespace": "users.hs-providers.me.get",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "내 정보 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs-providers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 전문가 내 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/hs-providers/{provider_id}": {
      "get": {
        "tags": [
          "hs-providers",
          "users"
        ],
        "parameters": [
          {
            "name": "provider_id",
            "in": "path",
            "description": "생활서비스 전문가 id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "생활서비스 제공자 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHSProvider.IPublic"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "생활서비스 전문가 조회",
        "description": "@summary 생활서비스 전문가 조회\n@tag hs-providers\n@tag users\n@param provider_id 생활서비스 전문가 id\n@return 생활서비스 제공자 정보\n@throw 404 Not Found",
        "x-nestia-namespace": "users.hs-providers.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "생활서비스 전문가 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs-providers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "provider_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "생활서비스 전문가 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 제공자 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents": {
      "get": {
        "tags": [
          "re-agents",
          "users"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "필터링 기준",
            "schema": {
              "$ref": "#/components/schemas/IBusinessUser.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "공인중개사 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent.IPaginatedResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "공인중개사 목록 검색",
        "description": "@summary 공인중개사 목록 검색\n@tag re-agents\n@tag users\n@param query 필터링 기준\n@return 공인중개사 목록",
        "x-nestia-namespace": "users.re-agents.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 목록 검색",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "필터링 기준",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/me": {
      "get": {
        "tags": [
          "re-agents",
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "공인중개사 내 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent.IPrivate"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "공인중개사 내 정보 조회",
        "description": "@summary 공인중개사 내 정보 조회\n@tag re-agents\n@tag users\n@return 공인중개사 내 정보\n@throw 401 Unauthorized\n@throw 403 Forbidden",
        "x-nestia-namespace": "users.re-agents.me.get",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 내 정보 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 내 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/{agent_id}": {
      "get": {
        "tags": [
          "re-agents",
          "users"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "공인중개사 id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "공인중개사 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent.IPublic"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "공인중개사 조회",
        "description": "@summary 공인중개사 조회\n@tag re-agents\n@tag users\n@param agent_id 공인중개사 id\n@return 공인중개사 정보\n@throw 404 Not Found",
        "x-nestia-namespace": "users.re-agents.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "agent_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "공인중개사 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/me/properties": {
      "get": {
        "tags": [
          "re-agents",
          "re-properties"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "페이지 정보",
            "schema": {
              "$ref": "#/components/schemas/IREAgent.IProperty.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent.IProperty.IPaginatedPrivateResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "내 매물 목록 조회",
        "description": "공인중개사 프로필에서 매물 목록을 추가로 불러올 때 사용한다.\n\n@summary 내 매물 목록 조회\n@tag re-agents\n@tag re-properties\n@param query 페이지 정보\n@return 부동산 매물 목록\n@throw 401 Unauthorized\n@throw 403 Forbidden",
        "x-nestia-namespace": "users.re-agents.me.properties.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "내 매물 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "페이지 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 목록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/{agent_id}/properties": {
      "get": {
        "tags": [
          "re-agents",
          "re-properties"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "공인중개사 id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "query",
            "in": "query",
            "description": "페이지 정보",
            "schema": {
              "$ref": "#/components/schemas/IREAgent.IProperty.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent.IProperty.IPaginatedPublicResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "매물 목록 조회",
        "description": "공인중개사 프로필에서 매물 목록을 추가로 불러올 때 사용한다.\n\n@summary 매물 목록 조회\n@tag re-agents\n@tag re-properties\n@param agent_id 공인중개사 id\n@param query 페이지 정보\n@return 부동산 매물 목록\n@throw 404 Not Found",
        "x-nestia-namespace": "users.re-agents.properties.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "매물 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "agent_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "공인중개사 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "페이지 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 목록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/verification/phones": {
      "post": {
        "tags": [
          "verification"
        ],
        "parameters": [],
        "requestBody": {
          "description": "phone verification create input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IPhoneVerification.ICreateRequest"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "verification expired date-time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPhoneVerification.ICreateResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "phone verification create",
        "description": "해당 API를 호출시, 전달된 휴대폰 번호로 문자를 전송합니다.\n\n@summary phone verification create\n@tag verification\n@param body phone verification create input\n@return verification expired date-time\n@throw 401 Unauthorized",
        "x-nestia-namespace": "verification.phones.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "phone verification create",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "verification",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "phone verification create input",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "verification expired date-time",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/verification/phones/verify": {
      "post": {
        "tags": [
          "verification"
        ],
        "parameters": [],
        "requestBody": {
          "description": "phone verification verify input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Mutable_lt_IPhoneVerification_gt_"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "200": {
            "description": "phone_verification_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPhoneVerification.IVerifyResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "phone verification verify",
        "description": "`POST /verification/phones`를 통해 생성된 인증 정보를 인증하는 API\n\n인증 정보 생성 5분 이내에 실행되어야 한다.\n\n@summary phone verification verify\n@tag verification\n@param body phone verification verify input\n@return phone_verification_id\n@throw 401 Unauthorized\n@throw 403 Forbidden",
        "x-nestia-namespace": "verification.phones.verify.execute",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "phone verification verify",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "verification",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "phone verification verify input",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "phone_verification_id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "IAgreement.ISearch": {
        "type": "object",
        "properties": {
          "target_type": {
            "description": "약관 조회 필터링 기준(최소 1개 필요)\n- all 전체 약관\n- customer 일반 고객 대상 약관\n- business 사업자 대상 약관\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관\n\n@minItems 1",
            "x-typia-metaTags": [
              {
                "kind": "minItems",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "minItems",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAgreement.TargetType"
            },
            "minItems": 1
          }
        },
        "nullable": false,
        "required": [
          "target_type"
        ],
        "description": "약관 조회 필터링 기준(최소 1개 필요)\n- all 전체 약관\n- customer 일반 고객 대상 약관\n- business 사업자 대상 약관\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관\n\n@minItems 1",
        "x-typia-jsDocTags": []
      },
      "IAgreement.TargetType": {
        "type": "string",
        "enum": [
          "customer",
          "all",
          "business",
          "HS",
          "RE"
        ]
      },
      "IAgreement": {
        "type": "object",
        "properties": {
          "id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "title": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "content": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "target_type": {
            "$ref": "#/components/schemas/IAgreement.TargetType"
          },
          "is_required": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "boolean"
          },
          "created_at": {
            "description": "@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "description": "@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          }
        },
        "nullable": false,
        "required": [
          "id",
          "title",
          "content",
          "target_type",
          "is_required",
          "created_at",
          "updated_at"
        ],
        "x-typia-jsDocTags": []
      },
      "IAuthentication.ISignIn": {
        "type": "object",
        "properties": {
          "user_type": {
            "$ref": "#/components/schemas/IUser.Type"
          },
          "code": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "oauth_type": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "kakao"
            ]
          }
        },
        "nullable": false,
        "required": [
          "user_type",
          "code",
          "oauth_type"
        ],
        "x-typia-jsDocTags": []
      },
      "IUser.Type": {
        "type": "string",
        "enum": [
          "customer",
          "real estate agent",
          "home service provider"
        ]
      },
      "IAuthentication.IResponse": {
        "$ref": "#/components/schemas/IAuthentication.IResponse"
      },
      "IAuthentication.ISignUp": {
        "type": "object",
        "properties": {
          "code": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "oauth_type": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "kakao"
            ]
          }
        },
        "nullable": false,
        "required": [
          "code",
          "oauth_type"
        ],
        "x-typia-jsDocTags": []
      },
      "IAuthentication.IAccountToken": {
        "type": "object",
        "properties": {
          "account_token": {
            "description": "회원 가입시 발급됩니다.\n\n다음과 같은 작업을 할 수 있습니다.\n- 사용자 정보 생성\n- 계정 프로필 조회",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          }
        },
        "nullable": false,
        "required": [
          "account_token"
        ],
        "description": "회원 가입시 발급됩니다.\n\n다음과 같은 작업을 할 수 있습니다.\n- 사용자 정보 생성\n- 계정 프로필 조회",
        "x-typia-jsDocTags": []
      },
      "IAuthentication.IProfile": {
        "type": "object",
        "properties": {
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          },
          "email": {
            "description": "@format email",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "email"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "email",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "phone": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          },
          "profile_image_url": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          },
          "birth": {
            "description": "YYYY-MM-DD\n@format date",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "gender": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/IAddress.Nullable"
          }
        },
        "nullable": false,
        "required": [
          "name",
          "email",
          "phone",
          "profile_image_url",
          "birth",
          "gender",
          "address"
        ],
        "description": "YYYY-MM-DD\n@format date",
        "x-typia-jsDocTags": []
      },
      "IAddress.Nullable": {
        "type": "object",
        "properties": {
          "first": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "second": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true,
        "required": [
          "first",
          "second"
        ],
        "x-typia-jsDocTags": []
      },
      "IAuthentication.ICreateRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ICustomer.ICreateRequest"
          },
          {
            "$ref": "#/components/schemas/IREAgent.ICreateRequest"
          },
          {
            "$ref": "#/components/schemas/IHSProvider.ICreateRequest"
          }
        ]
      },
      "ICustomer.ICreateRequest": {},
      "IREAgent.ICreateRequest": {},
      "IHSProvider.ICreateRequest": {},
      "IAuthentication.IAccessToken": {
        "type": "object",
        "properties": {
          "access_token": {
            "description": "특정 사용자 정보에 대한 권한을 가지고 있습니다.",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "access_token_expired_at": {
            "description": "access_token 만료일자\n@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          }
        },
        "nullable": false,
        "required": [
          "access_token",
          "access_token_expired_at"
        ],
        "description": "access_token 만료일자\n@format date-time",
        "x-typia-jsDocTags": []
      },
      "IREProperty.ISearch": {
        "type": "object",
        "properties": {
          "super_category_id": {
            "x-typia-required": false,
            "x-typia-optional": true,
            "type": "string"
          },
          "middle_category_id": {
            "x-typia-required": false,
            "x-typia-optional": true,
            "type": "string"
          },
          "sub_category_id": {
            "x-typia-required": false,
            "x-typia-optional": true,
            "type": "string"
          },
          "page": {
            "description": "@default 1\n@type uint\n@minimum 1",
            "x-typia-metaTags": [
              {
                "kind": "type",
                "value": "uint"
              },
              {
                "kind": "minimum",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "default",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              },
              {
                "name": "type",
                "text": [
                  {
                    "text": "uint",
                    "kind": "text"
                  }
                ]
              },
              {
                "name": "minimum",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": false,
            "x-typia-optional": true,
            "type": "integer",
            "minimum": 1,
            "default": 1
          }
        },
        "nullable": false,
        "x-typia-jsDocTags": []
      },
      "IREProperty.IPaginatedResponse": {
        "$ref": "#/components/schemas/IREProperty.IPaginatedResponse"
      },
      "IREProperty.ICreateManyRequest": {
        "type": "object",
        "properties": {
          "data": {
            "description": "@minItems 1\n@maxItems 10",
            "x-typia-metaTags": [
              {
                "kind": "minItems",
                "value": 1
              },
              {
                "kind": "maxItems",
                "value": 10
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "minItems",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              },
              {
                "name": "maxItems",
                "text": [
                  {
                    "text": "10",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IREProperty.ICreateRequest"
            },
            "minItems": 1,
            "maxItems": 10
          }
        },
        "nullable": false,
        "required": [
          "data"
        ],
        "description": "@minItems 1\n@maxItems 10",
        "x-typia-jsDocTags": []
      },
      "IREProperty.ICreateRequest": {
        "$ref": "#/components/schemas/IREProperty.ICreateRequest"
      },
      "IREPropertyCategory.ISuper": {
        "type": "object",
        "properties": {
          "middle_categories": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IREPropertyCategory.ISuper.IMiddle"
            }
          },
          "level": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "super"
            ]
          },
          "id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          }
        },
        "nullable": false,
        "required": [
          "middle_categories",
          "level",
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "IREPropertyCategory.ISuper.IMiddle": {
        "$ref": "#/components/schemas/IREPropertyCategory.ISuper.IMiddle"
      },
      "IREPropertyCategory.IMiddle": {
        "type": "object",
        "properties": {
          "super_category": {
            "$ref": "#/components/schemas/IREPropertyCategory.IMiddle.ISuper"
          },
          "sub_categories": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IREPropertyCategory.IMiddle.ISub"
            }
          },
          "level": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "middle"
            ]
          },
          "id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          }
        },
        "nullable": false,
        "required": [
          "super_category",
          "sub_categories",
          "level",
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "IREPropertyCategory.IMiddle.ISuper": {
        "$ref": "#/components/schemas/IREPropertyCategory.IMiddle.ISuper"
      },
      "IREPropertyCategory.IMiddle.ISub": {
        "$ref": "#/components/schemas/IREPropertyCategory.IMiddle.ISub"
      },
      "IServiceCategory.ISearch": {
        "type": "object",
        "properties": {
          "type": {
            "description": "서비스 카테고리 조회 필터링 기준(최소 1개 필요)\n- RE 부동산 분야\n- HS 생활서비스 분야\n\n@minItems 1",
            "x-typia-metaTags": [
              {
                "kind": "minItems",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "minItems",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IServiceCategory.Type"
            },
            "minItems": 1
          }
        },
        "nullable": false,
        "required": [
          "type"
        ],
        "description": "서비스 카테고리 조회 필터링 기준(최소 1개 필요)\n- RE 부동산 분야\n- HS 생활서비스 분야\n\n@minItems 1",
        "x-typia-jsDocTags": []
      },
      "IServiceCategory.Type": {
        "type": "string",
        "enum": [
          "HS",
          "RE"
        ]
      },
      "IServiceCategory.ISuper": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/IServiceCategory.Type"
          },
          "sub_categories": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IServiceCategory.ISuper.ISub"
            }
          },
          "level": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "super"
            ]
          },
          "id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          }
        },
        "nullable": false,
        "required": [
          "type",
          "sub_categories",
          "level",
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "IServiceCategory.ISuper.ISub": {
        "$ref": "#/components/schemas/IServiceCategory.ISuper.ISub"
      },
      "ICustomer.IPrivate": {
        "type": "object",
        "properties": {
          "birth": {
            "description": "@format date",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "gender": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": true
          },
          "profile_image_url": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          },
          "phone": {
            "description": "@format ^[0-9]+$",
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "^[0-9]+$",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "^[0-9]+$",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/IAddress.Nullable"
          },
          "type": {
            "description": "사용자 분류\n\n- customer 일반 회원\n- real estate agent 공인중개사\n- home service provider 생활서비스 제공자",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "customer"
            ]
          },
          "mode": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "private"
            ]
          },
          "id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "email": {
            "description": "@format email",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "email"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "email",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "created_at": {
            "description": "@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "description": "@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          },
          "acceptant_agreements": {
            "description": "동의한 약관 목록",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IUser.IAcceptantAgreement"
            }
          }
        },
        "nullable": false,
        "required": [
          "birth",
          "gender",
          "profile_image_url",
          "phone",
          "address",
          "type",
          "mode",
          "id",
          "name",
          "email",
          "created_at",
          "updated_at",
          "acceptant_agreements"
        ],
        "description": "@format date",
        "x-typia-jsDocTags": []
      },
      "IUser.IAcceptantAgreement": {
        "$ref": "#/components/schemas/IUser.IAcceptantAgreement"
      },
      "IZipzoongCareRequest.ISearch": {
        "type": "object",
        "properties": {
          "status": {
            "description": "@minItems 1",
            "x-typia-metaTags": [
              {
                "kind": "minItems",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "minItems",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IZipzoongCareRequest.Status"
            },
            "minItems": 1
          },
          "page": {
            "description": "@default 1\n@type uint\n@minimum 1",
            "x-typia-metaTags": [
              {
                "kind": "type",
                "value": "uint"
              },
              {
                "kind": "minimum",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "default",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              },
              {
                "name": "type",
                "text": [
                  {
                    "text": "uint",
                    "kind": "text"
                  }
                ]
              },
              {
                "name": "minimum",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": false,
            "x-typia-optional": true,
            "type": "integer",
            "minimum": 1,
            "default": 1
          }
        },
        "nullable": false,
        "required": [
          "status"
        ],
        "description": "@minItems 1",
        "x-typia-jsDocTags": []
      },
      "IZipzoongCareRequest.Status": {
        "type": "string",
        "enum": [
          "pending",
          "caring",
          "cared",
          "cancelled"
        ]
      },
      "IZipzoongCareRequest.IPaginatedResponse": {
        "$ref": "#/components/schemas/IZipzoongCareRequest.IPaginatedResponse"
      },
      "IZipzoongCareRequest.ICreateRequest": {
        "$ref": "#/components/schemas/IZipzoongCareRequest.ICreateRequest"
      },
      "IBusinessUser.ISearch": {
        "type": "object",
        "properties": {
          "super_category_id": {
            "x-typia-required": false,
            "x-typia-optional": true,
            "type": "string"
          },
          "sub_category_id": {
            "x-typia-required": false,
            "x-typia-optional": true,
            "type": "string"
          },
          "page": {
            "description": "@default 1\n@type uint\n@minimum 1",
            "x-typia-metaTags": [
              {
                "kind": "type",
                "value": "uint"
              },
              {
                "kind": "minimum",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "default",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              },
              {
                "name": "type",
                "text": [
                  {
                    "text": "uint",
                    "kind": "text"
                  }
                ]
              },
              {
                "name": "minimum",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": false,
            "x-typia-optional": true,
            "type": "integer",
            "minimum": 1,
            "default": 1
          }
        },
        "nullable": false,
        "x-typia-jsDocTags": []
      },
      "IHSProvider.IPaginatedResponse": {
        "$ref": "#/components/schemas/IHSProvider.IPaginatedResponse"
      },
      "IHSProvider.IPrivate": {
        "type": "object",
        "properties": {
          "example_images": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IHSProvider.IExampleImage.IPrivate"
            }
          },
          "phone": {
            "description": "@format ^[0-9]+$",
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "^[0-9]+$",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "^[0-9]+$"
          },
          "profile_image_url": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "introduction": {
            "$ref": "#/components/schemas/IBusinessUser.IIntroduction"
          },
          "expertise": {
            "$ref": "#/components/schemas/IBusinessUser.IExpertise"
          },
          "address": {
            "$ref": "#/components/schemas/IAddress"
          },
          "business_registration_num": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "type": {
            "description": "사용자 분류\n\n- customer 일반 회원\n- real estate agent 공인중개사\n- home service provider 생활서비스 제공자",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "home service provider"
            ]
          },
          "mode": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "private"
            ]
          },
          "id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "email": {
            "description": "@format email",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "email"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "email",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "created_at": {
            "description": "@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "description": "@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          },
          "is_verified": {
            "description": "사업자 인증 완료 여부",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "boolean"
          },
          "business_certification_images": {
            "description": "사업자 증명 서류 사진 목록",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IBusinessUser.ICertificationImage"
            }
          },
          "acceptant_agreements": {
            "description": "동의한 약관 목록",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IUser.IAcceptantAgreement"
            }
          }
        },
        "nullable": false,
        "required": [
          "example_images",
          "phone",
          "profile_image_url",
          "introduction",
          "expertise",
          "address",
          "business_registration_num",
          "type",
          "mode",
          "id",
          "name",
          "email",
          "created_at",
          "updated_at",
          "is_verified",
          "business_certification_images",
          "acceptant_agreements"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSProvider.IExampleImage.IPrivate": {
        "type": "object",
        "properties": {
          "is_visible": {
            "description": "게시 상태",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "boolean"
          },
          "id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "url": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "created_at": {
            "description": "@format date-time",
[...]
