{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.zipzoong.com/",
      "description": "Zipzoong REST API"
    }
  ],
  "info": {
    "version": "0.1.0",
    "title": "Zipzoong REST API Doc"
  },
  "paths": {
    "/sign-in/oauth": {
      "post": {
        "tags": [
          "oauth",
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "oauth 로그인 요청 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAccessor.ISignInBody"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "로그인 토큰 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAccessor"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "Oauth 로그인 API",
        "description": "Oauth2.0 로그인 요청",
        "x-nestia-namespace": "sign-in.oauth.findAccessor",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "Oauth 로그인 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "oauth",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "oauth 로그인 요청 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "returns",
            "text": [
              {
                "text": "로그인 토큰 정보",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/sign-up/oauth": {
      "post": {
        "tags": [
          "oauth",
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "oauth 회원가입 요청 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAccessor.ISignInBody"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "응답 데이터 없음",
            "x-nestia-encrypted": false
          }
        },
        "summary": "Oauth 회원가입 API",
        "description": "Oauth2.0 회원가입 요청",
        "x-nestia-namespace": "sign-up.oauth.createAccessor",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "Oauth 회원가입 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "oauth",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "oauth 회원가입 요청 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "returns",
            "text": [
              {
                "text": "응답 데이터 없음",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/customers": {
      "post": {
        "tags": [
          "customers"
        ],
        "parameters": [],
        "requestBody": {
          "description": "일반 고객 생성 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICustomer.ICreate"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "일반 고객 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICustomer"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "일반 고객 생성 API",
        "description": "",
        "x-nestia-namespace": "customers.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "일반 고객 생성 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "customers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "일반 고객 생성 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "일반 고객 정보",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "tags": [
          "customers"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "일반 고객 ID",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "일반 고객 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICustomer"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "400": {
            "description": "Customer Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "일반 고객 조회 API",
        "description": "",
        "x-nestia-namespace": "customers.find",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "일반 고객 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "customers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "customer_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "일반 고객 ID",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "일반 고객 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "400 Customer Not Found",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "422 Unprocessable Entity",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/hs-companies": {
      "post": {
        "tags": [
          "hs_companies"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생활서비스 회사 생성 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHSCompany.ICreate"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "생활서비스 회사 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHSCompany"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "생활서비스 회사 생성 API",
        "description": "",
        "x-nestia-namespace": "hs-companies.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "생활서비스 회사 생성 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs_companies",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "생활서비스 회사 생성 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 회사 정보",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/hs-companies/{hs_company_id}": {
      "get": {
        "tags": [
          "hs_companies"
        ],
        "parameters": [
          {
            "name": "hs_company_id",
            "in": "path",
            "description": "생활서비스 회사 ID",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "생활서비스 회사 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHSCompany"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "400": {
            "description": "Home Service Company Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "생활서비스 회사 조회 API",
        "description": "",
        "x-nestia-namespace": "hs-companies.find",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "생활서비스 회사 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs_companies",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "hs_company_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "생활서비스 회사 ID",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 회사 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "400 Home Service Company Not Found",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "422 Unprocessable Entity",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-agents": {
      "post": {
        "tags": [
          "re_agents"
        ],
        "parameters": [],
        "requestBody": {
          "description": "공인중개사 생성 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IREAgent.ICreate"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "공인중개사 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "공인중개사 생성 API",
        "description": "",
        "x-nestia-namespace": "re-agents.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 생성 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re_agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "공인중개사 생성 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 정보",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-agents/{re_agent_id}": {
      "get": {
        "tags": [
          "re_agents"
        ],
        "parameters": [
          {
            "name": "re_agent_id",
            "in": "path",
            "description": "공인중개사 ID",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "공인중개사 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "400": {
            "description": "Real Estate Agent Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "공인중개사 조회 API",
        "description": "",
        "x-nestia-namespace": "re-agents.find",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re_agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "re_agent_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "공인중개사 ID",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "400 Real Estate Agent Not Found",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "422 Unprocessable Entity",
                "kind": "text"
              }
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "IAccessor.ISignInBody": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "oauth_type": {
            "type": "string",
            "enum": [
              "kakao",
              "naver"
            ],
            "nullable": false,
            "x-typia-required": true
          },
          "user_type": {
            "type": "string",
            "enum": [
              "customer",
              "business"
            ],
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "code",
          "oauth_type",
          "user_type"
        ],
        "x-typia-jsDocTags": []
      },
      "IAccessor": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "nullable": false,
            "description": "사용자 인증 토큰",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "access_token"
        ],
        "description": "회원 정보 접근자\n\n인증 정보를 담고 있으며, 해당 접근자와 연결된 회원 권한을 요청할 수 있다.",
        "x-typia-jsDocTags": []
      },
      "ICustomer.ICreate": {
        "type": "object",
        "properties": {
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "description": "프로필 이미지",
            "x-typia-required": false
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress",
            "description": "사용자 주소 정보",
            "x-typia-required": false
          },
          "gender": {
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": false,
            "description": "성벌\n- female 여성\n- male 남성\n- other 기타",
            "x-typia-required": false
          },
          "birth": {
            "type": "string",
            "nullable": false,
            "description": "생일\n\nYYYY-MM-DD",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": false,
            "format": "date"
          },
          "user_type": {
            "type": "string",
            "enum": [
              "customer"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 고객\n- business 사업자",
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "사용자명",
            "x-typia-required": true
          },
          "email": {
            "$ref": "#/components/schemas/IUser.IEmail",
            "description": "이메일 정보",
            "x-typia-required": false
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "description": "전화 번호",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "user_type",
          "name",
          "phone"
        ],
        "x-typia-jsDocTags": []
      },
      "IUser.IAddress": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "nullable": false,
            "description": "1차 주소",
            "x-typia-required": true
          },
          "second": {
            "type": "string",
            "nullable": false,
            "description": "2차 주소(상세 주소)",
            "x-typia-required": false
          }
        },
        "nullable": false,
        "required": [
          "first"
        ],
        "x-typia-jsDocTags": []
      },
      "IUser.IEmail": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "nullable": false,
            "description": "이메일",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "email"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "email",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "email"
          },
          "is_verified": {
            "type": "boolean",
            "nullable": false,
            "description": "이메일 인증 상태",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "email",
          "is_verified"
        ],
        "x-typia-jsDocTags": []
      },
      "ICustomer": {
        "type": "object",
        "properties": {
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "description": "프로필 이미지",
            "x-typia-required": false
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress",
            "description": "사용자 주소 정보",
            "x-typia-required": false
          },
          "gender": {
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": false,
            "description": "성벌\n- female 여성\n- male 남성\n- other 기타",
            "x-typia-required": false
          },
          "birth": {
            "type": "string",
            "nullable": false,
            "description": "생일\n\nYYYY-MM-DD",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": false,
            "format": "date"
          },
          "user_type": {
            "type": "string",
            "enum": [
              "customer"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 고객\n- business 사업자",
            "x-typia-required": true
          },
          "id": {
            "type": "string",
            "nullable": false,
            "description": "사용자 고유 id",
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "사용자명",
            "x-typia-required": true
          },
          "email": {
            "$ref": "#/components/schemas/IUser.IEmail",
            "description": "이메일 정보",
            "x-typia-required": false
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "description": "전화 번호",
            "x-typia-required": true
          },
          "created_at": {
            "type": "string",
            "nullable": false,
            "description": "계정 생성일",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          }
        },
        "nullable": false,
        "required": [
          "user_type",
          "id",
          "name",
          "phone",
          "created_at"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSCompany.ICreate": {
        "type": "object",
        "properties": {
          "introduction": {
            "$ref": "#/components/schemas/IBusinessUser.IIntroduction",
            "description": "자기 소개",
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "description": "프로필 이미지 주소",
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress",
            "description": "회사 주소",
            "x-typia-required": true
          },
          "user_type": {
            "type": "string",
            "enum": [
              "business"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 고객\n- business 사업자",
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "사용자명",
            "x-typia-required": true
          },
          "email": {
            "$ref": "#/components/schemas/IUser.IEmail",
            "description": "이메일 정보",
            "x-typia-required": false
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "description": "전화 번호",
            "x-typia-required": true
          },
          "business_num": {
            "type": "string",
            "nullable": false,
            "description": "사업자등록번호",
            "x-typia-required": true
          },
          "business_type": {
            "type": "string",
            "enum": [
              "home service"
            ],
            "nullable": false,
            "description": "비즈니스 유형\n- real estate\n- home service",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "introduction",
          "profile_image_url",
          "address",
          "user_type",
          "name",
          "phone",
          "business_num",
          "business_type"
        ],
        "x-typia-jsDocTags": []
      },
      "IBusinessUser.IIntroduction": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "nullable": false,
            "description": "제목",
            "x-typia-required": true
          },
          "content": {
            "type": "string",
            "nullable": false,
            "description": "본문",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "title",
          "content"
        ],
        "description": "자기 소개 정보",
        "x-typia-jsDocTags": []
      },
      "IHSCompany": {
        "type": "object",
        "properties": {
          "business_num": {
            "type": "string",
            "nullable": false,
            "description": "사업자등록번호",
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress",
            "description": "회사 주소",
            "x-typia-required": true
          },
          "introduction": {
            "$ref": "#/components/schemas/IHSCompany.IIntroduction",
            "description": "자기 소개",
            "x-typia-required": true
          },
          "business_type": {
            "type": "string",
            "enum": [
              "home service"
            ],
            "nullable": false,
            "description": "비즈니스 유형\n- real estate\n- home service",
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "description": "프로필 이미지 주소",
            "x-typia-required": true
          },
          "user_type": {
            "type": "string",
            "enum": [
              "business"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 고객\n- business 사업자",
            "x-typia-required": true
          },
          "id": {
            "type": "string",
            "nullable": false,
            "description": "사용자 고유 id",
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "사용자명",
            "x-typia-required": true
          },
          "email": {
            "$ref": "#/components/schemas/IUser.IEmail",
            "description": "이메일 정보",
            "x-typia-required": false
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "description": "전화 번호",
            "x-typia-required": true
          },
          "created_at": {
            "type": "string",
            "nullable": false,
            "description": "계정 생성일",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          }
        },
        "nullable": false,
        "required": [
          "business_num",
          "address",
          "introduction",
          "business_type",
          "profile_image_url",
          "user_type",
          "id",
          "name",
          "phone",
          "created_at"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSCompany.IIntroduction": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IHSCompany.IIntroductionImage",
              "x-typia-required": true
            },
            "nullable": false,
            "x-typia-required": true
          },
          "title": {
            "type": "string",
            "nullable": false,
            "description": "제목",
            "x-typia-required": true
          },
          "content": {
            "type": "string",
            "nullable": false,
            "description": "본문",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "images",
          "title",
          "content"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSCompany.IIntroductionImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "description": "이미지 고유 식별 id",
            "x-typia-required": true
          },
          "url": {
            "type": "string",
            "nullable": false,
            "description": "이미지 주소",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "id",
          "url"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.ICreate": {
        "type": "object",
        "properties": {
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "description": "프로필 이미지 주소",
            "x-typia-required": true
          },
          "user_type": {
            "type": "string",
            "enum": [
              "business"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 고객\n- business 사업자",
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "사용자명",
            "x-typia-required": true
          },
          "email": {
            "$ref": "#/components/schemas/IUser.IEmail",
            "description": "이메일 정보",
            "x-typia-required": false
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "description": "전화 번호",
            "x-typia-required": true
          },
          "introduction": {
            "$ref": "#/components/schemas/IBusinessUser.IIntroduction",
            "description": "자기 소개",
            "x-typia-required": true
          },
          "business_type": {
            "type": "string",
            "enum": [
              "real estate"
            ],
            "nullable": false,
            "description": "비즈니스 유형\n- real estate\n- home service",
            "x-typia-required": true
          },
          "is_licensed": {
            "type": "boolean",
            "nullable": false,
            "description": "공인중개사 유형\n- true 개업 공인중개사\n- false 소속 공인중개사",
            "x-typia-required": true
          },
          "real_estate": {
            "$ref": "#/components/schemas/IREAgent.IRealEstate",
            "description": "부동산 정보\n\n해당 정보는 공공기관에서 부동산개설등록번호로 기록된 내용과 일치해야 한다.",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "profile_image_url",
          "user_type",
          "name",
          "phone",
          "introduction",
          "business_type",
          "is_licensed",
          "real_estate"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.IRealEstate": {
        "type": "object",
        "properties": {
          "num": {
            "type": "string",
            "nullable": false,
            "description": "개설등록번호",
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "상호명",
            "x-typia-required": true
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "description": "전화번호",
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress",
            "description": "주소",
            "x-typia-required": true
          },
          "licensed_agent_name": {
            "type": "string",
            "nullable": false,
            "description": "대표자명",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "num",
          "name",
          "phone",
          "address",
          "licensed_agent_name"
        ],
        "description": "부동산 관련 정보\n\n해당 정보는 공공기관에서 부동산개설등록번호로 기록된 내용과 일치해야 한다.",
        "x-typia-jsDocTags": []
      },
      "IREAgent": {
        "type": "object",
        "properties": {
          "is_licensed": {
            "type": "boolean",
            "nullable": false,
            "description": "공인중개사 유형\n- true 개업 공인중개사\n- false 소속 공인중개사",
            "x-typia-required": true
          },
          "real_estate": {
            "$ref": "#/components/schemas/IREAgent.IRealEstate",
            "description": "부동산 정보\n\n해당 정보는 공공기관에서 부동산개설등록번호로 기록된 내용과 일치해야 한다.",
            "x-typia-required": true
          },
          "business_type": {
            "type": "string",
            "enum": [
              "real estate"
            ],
            "nullable": false,
            "description": "비즈니스 유형\n- real estate\n- home service",
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "description": "프로필 이미지 주소",
            "x-typia-required": true
          },
          "introduction": {
            "$ref": "#/components/schemas/IBusinessUser.IIntroduction",
            "description": "자기 소개",
            "x-typia-required": true
          },
          "user_type": {
            "type": "string",
            "enum": [
              "business"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 고객\n- business 사업자",
            "x-typia-required": true
          },
          "id": {
            "type": "string",
            "nullable": false,
            "description": "사용자 고유 id",
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "사용자명",
            "x-typia-required": true
          },
          "email": {
            "$ref": "#/components/schemas/IUser.IEmail",
            "description": "이메일 정보",
            "x-typia-required": false
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "description": "전화 번호",
            "x-typia-required": true
          },
          "created_at": {
            "type": "string",
            "nullable": false,
            "description": "계정 생성일",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          }
        },
        "nullable": false,
        "required": [
          "is_licensed",
          "real_estate",
          "business_type",
          "profile_image_url",
          "introduction",
          "user_type",
          "id",
          "name",
          "phone",
          "created_at"
        ],
        "x-typia-jsDocTags": []
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "bearer": []
    }
  ]
}