{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.zipzoong.com/",
      "description": "Zipzoong REST API"
    }
  ],
  "info": {
    "version": "0.1.0",
    "title": "Zipzoong REST API Doc"
  },
  "paths": {
    "/customers": {
      "post": {
        "tags": [
          "customers"
        ],
        "parameters": [],
        "requestBody": {
          "description": "일반 고객 생성 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICustomer.ICreate"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "일반 고객 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICustomer"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "일반 고객 생성 API",
        "description": "",
        "x-nestia-namespace": "customers.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "일반 고객 생성 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "customers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "일반 고객 생성 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "일반 고객 정보",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "tags": [
          "customers"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "일반 고객 ID",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "일반 고객 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICustomer"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "일반 고객 조회 API",
        "description": "",
        "x-nestia-namespace": "customers.find",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "일반 고객 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "customers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "customer_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "일반 고객 ID",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "일반 고객 정보",
                "kind": "text"
              }
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ICustomer.ICreate": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "customer"
            ],
            "nullable": false,
            "x-typia-required": true
          },
          "birth": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "gender": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "user_type": {
            "type": "string",
            "enum": [
              "customer"
            ],
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "email_verified": {
            "type": "boolean",
            "nullable": false,
            "x-typia-required": true
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "phone_verified": {
            "type": "boolean",
            "nullable": false,
            "x-typia-required": true
          },
          "address_first": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "address_second": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "profile_image": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "type",
          "birth",
          "gender",
          "user_type",
          "name",
          "email",
          "email_verified",
          "phone",
          "phone_verified",
          "address_first",
          "address_second",
          "profile_image"
        ],
        "x-typia-jsDocTags": []
      },
      "ICustomer": {
        "type": "object",
        "properties": {
          "birth": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "gender": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "user_type": {
            "type": "string",
            "enum": [
              "customer"
            ],
            "nullable": false,
            "x-typia-required": true
          },
          "id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "email_verified": {
            "type": "boolean",
            "nullable": false,
            "x-typia-required": true
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "phone_verified": {
            "type": "boolean",
            "nullable": false,
            "x-typia-required": true
          },
          "address_first": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "address_second": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "profile_image": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "birth",
          "gender",
          "user_type",
          "id",
          "name",
          "email",
          "email_verified",
          "phone",
          "phone_verified",
          "address_first",
          "address_second",
          "profile_image"
        ],
        "x-typia-jsDocTags": []
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "bearer": []
    }
  ]
}