{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.zipzoong.com/",
      "description": "Zipzoong REST API"
    }
  ],
  "info": {
    "version": "0.1.0",
    "title": "Zipzoong REST API Doc"
  },
  "paths": {
    "/auth/sign-in": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "oauth code, oauth type, user_type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Authentication.ISignIn"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITokens"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "로그인 API",
        "description": "전달된 정보에 대응하는 특정 회원에 대한 권한이 부여된 인증 토큰을 발급한다.",
        "x-nestia-namespace": "auth.sign-in.signIn",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "로그인 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "oauth code, oauth type, user_type",
                "kind": "text"
              }
            ]
          },
          {
            "name": "returns",
            "text": [
              {
                "text": "tokens",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/sign-up": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "oauth code, oauth type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Authentication.ISignUp"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITokens"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "회원가입 API",
        "description": "회원을 생성하거나 oauth-profile 요청을 위한 인증 토큰을 발급한다.\n\naccessor에 포함된 정보는 회원 정보에 기본값으로 사용할 수 있다.",
        "x-nestia-namespace": "auth.sign-up.signUp",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "회원가입 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "oauth code, oauth type",
                "kind": "text"
              }
            ]
          },
          {
            "name": "returns",
            "text": [
              {
                "text": "tokens",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/oauth-profile": {
      "get": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OauthProfile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Authentication.IOauthProfile"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "OauthProfile 요청 API",
        "description": "새로운 회원 정보를 생성할 때, 입력창 기본값을 채우기 위해 사용한다.",
        "x-nestia-namespace": "auth.oauth-profile.getOauthProfile",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "OauthProfile 요청 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "returns",
            "text": [
              {
                "text": "OauthProfile",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/user": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "사용자 생성 정보",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ICustomer.ICreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/IREAgent.ICreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/IHSProvider.ICreateRequest"
                  }
                ]
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "void",
            "x-nestia-encrypted": false
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "사용자 생성 API",
        "description": "type 속성을 통해 사용자 분류를 구분한다.\n\n사용자 분류에 따라 포함하는 속성이 달라진다.\n\n다른 속성값은 null, \"\" 등의 속성 기본값이 사용되지만 email, phone은 OauthProfile 정보가 기본값으로 사용된다.\n\n사업자의 경우, phone 정보가 필수다.\n\nOauthProfile phone 정보가 없고, 인증코드도 요청에 포함하지 않았다면 요청은 실패한다.",
        "x-nestia-namespace": "auth.user.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "사용자 생성 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "사용자 생성 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "returns",
            "text": [
              {
                "text": "void",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "400 BadRequest",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Authentication.ISignIn": {
        "type": "object",
        "properties": {
          "user_type": {
            "type": "string",
            "enum": [
              "customer",
              "real estate agent",
              "home service provider"
            ],
            "nullable": false,
            "x-typia-required": true
          },
          "code": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "oauth_type": {
            "type": "string",
            "enum": [
              "kakao",
              "naver"
            ],
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "user_type",
          "code",
          "oauth_type"
        ],
        "x-typia-jsDocTags": []
      },
      "ITokens": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "access_token"
        ],
        "x-typia-jsDocTags": []
      },
      "Authentication.ISignUp": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "oauth_type": {
            "type": "string",
            "enum": [
              "kakao",
              "naver"
            ],
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "code",
          "oauth_type"
        ],
        "x-typia-jsDocTags": []
      },
      "Authentication.IOauthProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "birth": {
            "type": "string",
            "nullable": true,
            "description": "YYYY-MM-DD",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": true,
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress.Nullable",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "name",
          "email",
          "phone",
          "profile_image_url",
          "birth",
          "gender",
          "address"
        ],
        "x-typia-jsDocTags": []
      },
      "IUser.IAddress.Nullable": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "second": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          }
        },
        "nullable": true,
        "required": [
          "first",
          "second"
        ],
        "x-typia-jsDocTags": []
      },
      "ICustomer.ICreateRequest": {
        "type": "object",
        "properties": {
          "email_access_code": {
            "type": "string",
            "nullable": false,
            "description": "이메일 인증 코드\n\n포함하지 않으면 oauth profile email 정보가 email 기본값으로 사용된다.",
            "x-typia-required": false
          },
          "phone_access_code": {
            "type": "string",
            "nullable": false,
            "description": "휴대폰 인증 코드\n\n포함하지 않으면 oauth profile phone 정보가 phone 기본값으로 사용된다.",
            "x-typia-required": false
          },
          "birth": {
            "type": "string",
            "nullable": false,
            "description": "YYYY-MM-DD",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": false,
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": false,
            "description": "기본값 null",
            "x-typia-required": false
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress",
            "description": "기본값 null",
            "x-typia-required": false
          },
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "description": "기본값 null",
            "x-typia-required": false
          },
          "type": {
            "type": "string",
            "enum": [
              "customer"
            ],
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "기본값 \"\"",
            "x-typia-required": false
          }
        },
        "nullable": false,
        "required": [
          "type"
        ],
        "x-typia-jsDocTags": []
      },
      "IUser.IAddress": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "second": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "first",
          "second"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.ICreateRequest": {
        "type": "object",
        "properties": {
          "email_access_code": {
            "type": "string",
            "nullable": false,
            "description": "이메일 인증 코드\n\n포함하지 않으면 oauth profile email 정보가 email 기본값으로 사용된다.",
            "x-typia-required": false
          },
          "phone_access_code": {
            "type": "string",
            "nullable": false,
            "description": "휴대폰 인증 코드\n\n포함하지 않으면 oauth profile phone 정보가 phone 기본값으로 사용된다.",
            "x-typia-required": false
          },
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "type": {
            "type": "string",
            "enum": [
              "real estate agent"
            ],
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "기본값 \"\"",
            "x-typia-required": false
          },
          "introduction": {
            "$ref": "#/components/schemas/IBusiness.IIntroduction",
            "x-typia-required": true
          },
          "is_licensed": {
            "type": "boolean",
            "nullable": false,
            "x-typia-required": true
          },
          "real_estate": {
            "$ref": "#/components/schemas/IREAgent.IRealEstate",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "profile_image_url",
          "type",
          "introduction",
          "is_licensed",
          "real_estate"
        ],
        "x-typia-jsDocTags": []
      },
      "IBusiness.IIntroduction": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "content": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "title",
          "content"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.IRealEstate": {
        "type": "object",
        "properties": {
          "num": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "licensed_agent_name": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "num",
          "name",
          "phone",
          "licensed_agent_name",
          "address"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSProvider.ICreateRequest": {
        "type": "object",
        "properties": {
          "email_access_code": {
            "type": "string",
            "nullable": false,
            "description": "이메일 인증 코드\n\n포함하지 않으면 oauth profile email 정보가 email 기본값으로 사용된다.",
            "x-typia-required": false
          },
          "phone_access_code": {
            "type": "string",
            "nullable": false,
            "description": "휴대폰 인증 코드\n\n포함하지 않으면 oauth profile phone 정보가 phone 기본값으로 사용된다.",
            "x-typia-required": false
          },
          "introduction": {
            "$ref": "#/components/schemas/IBusiness.IIntroduction",
            "x-typia-required": true
          },
          "introduction_images": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "x-typia-required": true
            },
            "nullable": false,
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress",
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "type": {
            "type": "string",
            "enum": [
              "home service provider"
            ],
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "기본값 \"\"",
            "x-typia-required": false
          },
          "business_registration_num": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "introduction",
          "introduction_images",
          "address",
          "profile_image_url",
          "type",
          "business_registration_num"
        ],
        "x-typia-jsDocTags": []
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "bearer": []
    }
  ]
}