{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.zipzoong.com/",
      "description": "Zipzoong REST API"
    }
  ],
  "info": {
    "version": "0.1.0",
    "title": "Zipzoong REST API Doc"
  },
  "paths": {
    "/agreements": {
      "get": {
        "tags": [
          "agreements"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "약관 검색 조건",
            "schema": {
              "$ref": "#/components/schemas/IAgreement.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "약관 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IAgreement.IResponse"
                  },
                  "nullable": false
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "약관 조회 API",
        "description": "",
        "x-nestia-namespace": "agreements.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "약관 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "agreements",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "약관 검색 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "약관 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/sign-in": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "oauth code, oauth type, user_type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Authentication.ISignIn"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "200": {
            "description": "tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITokens"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "로그인 API",
        "description": "전달된 정보에 대응하는 특정 회원에 대한 권한이 부여된 인증 토큰을 발급한다.",
        "x-nestia-namespace": "auth.sign-in.signIn",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "로그인 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "oauth code, oauth type, user_type",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "tokens",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/sign-up": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "oauth code, oauth type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Authentication.ISignUp"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITokens"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "회원가입 API",
        "description": "회원을 생성하거나 oauth-profile 요청을 위한 인증 토큰을 발급한다.\n\naccessor에 포함된 정보는 회원 정보에 기본값으로 사용할 수 있다.",
        "x-nestia-namespace": "auth.sign-up.signUp",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "회원가입 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "oauth code, oauth type",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "tokens",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/profile": {
      "get": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OauthProfile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Authentication.IProfile"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "OauthProfile 요청 API",
        "description": "새로운 회원 정보를 생성할 때, 입력창 기본값을 채우기 위해 사용한다.",
        "x-nestia-namespace": "auth.profile.getProfile",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "OauthProfile 요청 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "OauthProfile",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/user": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "사용자 생성 정보",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ICustomer.ICreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/IREAgent.ICreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/IHSProvider.ICreateRequest"
                  }
                ]
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "void",
            "x-nestia-encrypted": false
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "사용자 생성 API",
        "description": "type 속성을 통해 사용자 분류를 구분한다.\n\n사용자 분류에 따라 포함하는 속성이 달라진다.\n\n다른 속성값은 null, \"\" 등의 속성 기본값이 사용되지만 email, phone은 OauthProfile 정보가 기본값으로 사용된다.\n\n사업자의 경우, phone 정보가 필수다.\n\nOauthProfile phone 정보가 없고, 인증코드도 요청에 포함하지 않았다면 요청은 실패한다.",
        "x-nestia-namespace": "auth.user.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "사용자 생성 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "사용자 생성 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "void",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "400 BadRequest",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/expert-categories": {
      "get": {
        "tags": [
          "expert-categories"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "상위 전문 분야 필터링 조건",
            "schema": {
              "$ref": "#/components/schemas/IExpertCategory.ISuperSearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "상위 전문 분야 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IExpertCategory.Super"
                  },
                  "nullable": false
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "상위 전문 분야 목록 조회 API",
        "description": "",
        "x-nestia-namespace": "expert-categories.getSuperCategoryList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "상위 전문 분야 목록 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "expert-categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "상위 전문 분야 필터링 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "상위 전문 분야 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/expert-categories/{super_id}": {
      "get": {
        "tags": [
          "expert-categories"
        ],
        "parameters": [
          {
            "name": "super_id",
            "in": "path",
            "description": "상위 전문 분야 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "상위 전문 분야 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExpertCategory.Super"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "NotFound"
          }
        },
        "summary": "상위 전문 분야 조회 API",
        "description": "",
        "x-nestia-namespace": "expert-categories.getSuperCategory",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "상위 전문 분야 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "expert-categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "super_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "상위 전문 분야 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "상위 전문 분야 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 NotFound",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/expert-categories/{super_id}/sub-categories": {
      "get": {
        "tags": [
          "expert-categories"
        ],
        "parameters": [
          {
            "name": "super_id",
            "in": "path",
            "description": "상위 전문 분야 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "하위 전문 분야 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IExpertCategory.Sub"
                  },
                  "nullable": false
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "NotFound"
          }
        },
        "summary": "하위 전문 분야 목록 조회 API",
        "description": "",
        "x-nestia-namespace": "expert-categories.sub-categories.getSubCategoryList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "하위 전문 분야 목록 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "expert-categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "super_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "상위 전문 분야 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "하위 전문 분야 목록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 NotFound",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/customers/me": {
      "get": {
        "tags": [
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "일반 고객 내 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICustomer.IPrivateResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "description": "",
        "x-nestia-namespace": "users.customers.me.getMe",
        "x-nestia-jsDocTags": [
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "일반 고객 내 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/customers/{customer_id}": {
      "get": {
        "tags": [
          "customers",
          "users"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "일반 고객 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "일반 고객 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICustomer.IResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "일반 고객 조회 API",
        "description": "",
        "x-nestia-namespace": "users.customers.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "일반 고객 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "customers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "customer_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "일반 고객 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "일반 고객 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/hs-providers": {
      "get": {
        "tags": [
          "hs-providers",
          "users"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "필터링 기준",
            "schema": {
              "$ref": "#/components/schemas/IHSProvider.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "생활서비스 제공자 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPaginatedResponse_lt_IHSProvider.IResponse_gt_"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "생활서비스 제공자 목록 조회 API",
        "description": "",
        "x-nestia-namespace": "users.hs-providers.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "생활서비스 제공자 목록 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs-providers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "필터링 기준",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 제공자 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/hs-providers/me": {
      "get": {
        "tags": [
          "hs-providers",
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "생활서비스 제공자 내 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHSProvider.IPrivateResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "생활서비스 제공자 내 정보 조회 API",
        "description": "",
        "x-nestia-namespace": "users.hs-providers.me.getMe",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "생활서비스 제공자 내 정보 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs-providers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 제공자 내 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/hs-providers/{provider_id}": {
      "get": {
        "tags": [
          "hs-providers",
          "users"
        ],
        "parameters": [
          {
            "name": "provider_id",
            "in": "path",
            "description": "생활서비스 제공자 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "생활서비스 제공자 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHSProvider.IResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "생활서비스 제공자 조회 API",
        "description": "",
        "x-nestia-namespace": "users.hs-providers.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "생활서비스 제공자 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs-providers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "provider_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "생활서비스 제공자 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 제공자 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents": {
      "get": {
        "tags": [
          "re-agents",
          "users"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "필터링 기준",
            "schema": {
              "$ref": "#/components/schemas/IREAgent.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "공인중개사 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPaginatedResponse_lt_IREAgent.IResponse_gt_"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "공인중개사 목록 조회 API",
        "description": "",
        "x-nestia-namespace": "users.re-agents.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 목록 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "필터링 기준",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/me": {
      "get": {
        "tags": [
          "re-agents",
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "공인중개사 내 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent.IPrivateResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "공인중개사 내 정보 조회 API",
        "description": "",
        "x-nestia-namespace": "users.re-agents.me.getMe",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 내 정보 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 내 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/{agent_id}": {
      "get": {
        "tags": [
          "re-agents",
          "users"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "공인중개사 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "공인중개사 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent.IResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "공인중개사 조회 API",
        "description": "",
        "x-nestia-namespace": "users.re-agents.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 조회 API",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "agent_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "공인중개사 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "IAgreement.ISearch": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "all",
                "customer",
                "business",
                "HS",
                "RE"
              ],
              "nullable": false,
              "description": "약관 조회 필터링 기준(최소 1개 필요)\n- all 전체 약관\n- customer 일반 고객 대상 약관\n- business 사업자 대상 약관\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관",
              "x-typia-metaTags": [
                {
                  "kind": "minItems",
                  "value": 1
                }
              ],
              "x-typia-jsDocTags": [
                {
                  "name": "minItems",
                  "text": [
                    {
                      "text": "1",
                      "kind": "text"
                    }
                  ]
                }
              ],
              "x-typia-required": true
            },
            "nullable": false,
            "description": "약관 조회 필터링 기준(최소 1개 필요)\n- all 전체 약관\n- customer 일반 고객 대상 약관\n- business 사업자 대상 약관\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관",
            "x-typia-metaTags": [
              {
                "kind": "minItems",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "minItems",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "minItems": 1
          }
        },
        "nullable": false,
        "required": [
          "filter"
        ],
        "x-typia-jsDocTags": []
      },
      "IAgreement.IResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "title": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "content": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "user_type": {
            "type": "string",
            "enum": [
              "all",
              "customer",
              "business",
              "HS",
              "RE"
            ],
            "nullable": false,
            "x-typia-required": true
          },
          "created_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          }
        },
        "nullable": false,
        "required": [
          "id",
          "title",
          "content",
          "user_type",
          "created_at",
          "updated_at"
        ],
        "x-typia-jsDocTags": []
      },
      "Authentication.ISignIn": {
        "type": "object",
        "properties": {
          "user_type": {
            "type": "string",
            "enum": [
              "home service provider",
              "real estate agent",
              "customer"
            ],
            "nullable": false,
            "x-typia-required": true
          },
          "code": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "oauth_type": {
            "type": "string",
            "enum": [
              "kakao"
            ],
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "user_type",
          "code",
          "oauth_type"
        ],
        "x-typia-jsDocTags": []
      },
      "ITokens": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "access_token"
        ],
        "x-typia-jsDocTags": []
      },
      "Authentication.ISignUp": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "oauth_type": {
            "type": "string",
            "enum": [
              "kakao"
            ],
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "code",
          "oauth_type"
        ],
        "x-typia-jsDocTags": []
      },
      "Authentication.IProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "email"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "email",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "email"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "birth": {
            "type": "string",
            "nullable": true,
            "description": "YYYY-MM-DD",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": true,
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress.Nullable",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "name",
          "email",
          "phone",
          "profile_image_url",
          "birth",
          "gender",
          "address"
        ],
        "x-typia-jsDocTags": []
      },
      "IUser.IAddress.Nullable": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "second": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          }
        },
        "nullable": true,
        "required": [
          "first",
          "second"
        ],
        "x-typia-jsDocTags": []
      },
      "ICustomer.ICreateRequest": {
        "type": "object",
        "properties": {
          "email_access_code": {
            "type": "string",
            "nullable": false,
            "description": "이메일 인증 코드\n\n포함하지 않으면 oauth profile email 정보가 email 기본값으로 사용된다.",
            "x-typia-required": false
          },
          "phone_access_code": {
            "type": "string",
            "nullable": false,
            "description": "휴대폰 인증 코드\n\n포함하지 않으면 oauth profile phone 정보가 phone 기본값으로 사용된다.",
            "x-typia-required": false
          },
          "agreement_acceptances": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "약관 동의 id 리스트",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "약관 동의 id 리스트",
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress",
            "description": "기본값 null",
            "x-typia-required": false
          },
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "description": "기본값 null",
            "x-typia-required": false
          },
          "type": {
            "type": "string",
            "enum": [
              "customer"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 회원\n- real estate agent 공인중개사\n- home service provider 생활서비스 제공자",
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "기본값 \"\"",
            "x-typia-required": false
          },
          "birth": {
            "type": "string",
            "nullable": false,
            "description": "YYYY-MM-DD",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": false,
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": false,
            "description": "기본값 null",
            "x-typia-required": false
          }
        },
        "nullable": false,
        "required": [
          "agreement_acceptances",
          "type"
        ],
        "x-typia-jsDocTags": []
      },
      "IUser.IAddress": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "second": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "first",
          "second"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.ICreateRequest": {
        "type": "object",
        "properties": {
          "email_access_code": {
            "type": "string",
            "nullable": false,
            "description": "이메일 인증 코드\n\n포함하지 않으면 oauth profile email 정보가 email 기본값으로 사용된다.",
            "x-typia-required": false
          },
          "phone_access_code": {
            "type": "string",
            "nullable": false,
            "description": "휴대폰 인증 코드\n\n포함하지 않으면 oauth profile phone 정보가 phone 기본값으로 사용된다.",
            "x-typia-required": false
          },
          "business_certifications": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "증명 서류 사진 url 리스트",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "증명 서류 사진 url 리스트",
            "x-typia-required": true
          },
          "agreement_acceptances": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "약관 동의 id 리스트",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "약관 동의 id 리스트",
            "x-typia-required": true
          },
          "super_expertise_id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "sub_expertise_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "x-typia-required": true
            },
            "nullable": false,
            "x-typia-required": true
          },
          "introduction": {
            "$ref": "#/components/schemas/IBusinessUser.IIntroduction",
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "type": {
            "type": "string",
            "enum": [
              "real estate agent"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 회원\n- real estate agent 공인중개사\n- home service provider 생활서비스 제공자",
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "기본값 \"\"",
            "x-typia-required": false
          },
          "is_licensed": {
            "type": "boolean",
            "nullable": false,
            "description": "개업/소속 공인중개사 표시\n\n- true 개업 공인중개사\n- false 소속 공인중개사",
            "x-typia-required": true
          },
          "real_estate": {
            "$ref": "#/components/schemas/IREAgent.IRealEstate",
            "description": "본인이 속한 부동산 정보",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "business_certifications",
          "agreement_acceptances",
          "super_expertise_id",
          "sub_expertise_ids",
          "introduction",
          "profile_image_url",
          "type",
          "is_licensed",
          "real_estate"
        ],
        "x-typia-jsDocTags": []
      },
      "IBusinessUser.IIntroduction": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "content": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "title",
          "content"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.IRealEstate": {
        "type": "object",
        "properties": {
          "num": {
            "type": "string",
            "nullable": false,
            "description": "부동산 개설 등록번호",
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "부동산 상호명",
            "x-typia-required": true
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "description": "부동산 전화번호",
            "x-typia-required": true
          },
          "licensed_agent_name": {
            "type": "string",
            "nullable": false,
            "description": "부동산 대표명",
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress",
            "description": "부동산 주소",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "num",
          "name",
          "phone",
          "licensed_agent_name",
          "address"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSProvider.ICreateRequest": {
        "type": "object",
        "properties": {
          "email_access_code": {
            "type": "string",
            "nullable": false,
            "description": "이메일 인증 코드\n\n포함하지 않으면 oauth profile email 정보가 email 기본값으로 사용된다.",
            "x-typia-required": false
          },
          "phone_access_code": {
            "type": "string",
            "nullable": false,
            "description": "휴대폰 인증 코드\n\n포함하지 않으면 oauth profile phone 정보가 phone 기본값으로 사용된다.",
            "x-typia-required": false
          },
          "business_certifications": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "증명 서류 사진 url 리스트",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "증명 서류 사진 url 리스트",
            "x-typia-required": true
          },
          "agreement_acceptances": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "약관 동의 id 리스트",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "약관 동의 id 리스트",
            "x-typia-required": true
          },
          "super_expertise_id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "sub_expertise_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "x-typia-required": true
            },
            "nullable": false,
            "x-typia-required": true
          },
          "introduction": {
            "$ref": "#/components/schemas/IBusinessUser.IIntroduction",
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress",
            "x-typia-required": true
          },
          "business_registration_num": {
            "type": "string",
            "nullable": false,
            "description": "사업자등록번호",
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "type": {
            "type": "string",
            "enum": [
              "home service provider"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 회원\n- real estate agent 공인중개사\n- home service provider 생활서비스 제공자",
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "기본값 \"\"",
            "x-typia-required": false
          },
          "introduction_images": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "자체 리뷰 이미지 주소 목록",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "자체 리뷰 이미지 주소 목록",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "business_certifications",
          "agreement_acceptances",
          "super_expertise_id",
          "sub_expertise_ids",
          "introduction",
          "address",
          "business_registration_num",
          "profile_image_url",
          "type",
          "introduction_images"
        ],
        "x-typia-jsDocTags": []
      },
      "IExpertCategory.ISuperSearch": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "HS",
                "RE"
              ],
              "nullable": false,
              "description": "전문 분야 카테고리 조회 필터링 기준(최소 1개 필요)\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관",
              "x-typia-metaTags": [
                {
                  "kind": "minItems",
                  "value": 1
                }
              ],
              "x-typia-jsDocTags": [
                {
                  "name": "minItems",
                  "text": [
                    {
                      "text": "1",
                      "kind": "text"
                    }
                  ]
                }
              ],
              "x-typia-required": true
            },
            "nullable": false,
            "description": "전문 분야 카테고리 조회 필터링 기준(최소 1개 필요)\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관",
            "x-typia-metaTags": [
              {
                "kind": "minItems",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "minItems",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "minItems": 1
          }
        },
        "nullable": false,
        "required": [
          "filter"
        ],
        "x-typia-jsDocTags": []
      },
      "IExpertCategory.Super": {
        "type": "object",
        "properties": {
          "business_type": {
            "type": "string",
            "enum": [
              "HS",
              "RE"
            ],
            "nullable": false,
            "x-typia-required": true
          },
          "sub_categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IExpertCategory.Sub",
              "x-typia-required": true
            },
            "nullable": false,
            "x-typia-required": true
          },
          "type": {
            "type": "string",
            "enum": [
              "super"
            ],
            "nullable": false,
            "x-typia-required": true
          },
          "id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "business_type",
          "sub_categories",
          "type",
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "IExpertCategory.Sub": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "sub"
            ],
            "nullable": false,
            "x-typia-required": true
          },
          "id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "type",
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "ICustomer.IPrivateResponse": {
        "type": "object",
        "properties": {
          "birth": {
            "type": "string",
            "nullable": true,
            "description": "YYYY-MM-DD",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": true,
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress.Nullable",
            "x-typia-required": true
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "type": {
            "type": "string",
            "enum": [
              "customer"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 회원\n- real estate agent 공인중개사\n- home service provider 생활서비스 제공자",
            "x-typia-required": true
          },
          "id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "고객 이름 혹은 상호명",
            "x-typia-required": true
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "email"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "email",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "email"
          },
          "created_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          },
          "agreement_acceptances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAgreement",
              "description": "약관 동의 목록",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "약관 동의 목록",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "birth",
          "gender",
          "address",
          "phone",
          "profile_image_url",
          "type",
          "id",
          "name",
          "email",
          "created_at",
          "updated_at",
          "agreement_acceptances"
        ],
        "x-typia-jsDocTags": []
      },
      "IAgreement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "title": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "content": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "user_type": {
            "type": "string",
            "enum": [
              "all",
              "customer",
              "business",
              "HS",
              "RE"
            ],
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "id",
          "title",
          "content",
          "user_type"
        ],
        "x-typia-jsDocTags": []
      },
      "ICustomer.IResponse": {
        "type": "object",
        "properties": {
          "birth": {
            "type": "string",
            "nullable": true,
            "description": "YYYY-MM-DD",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": true,
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress.Nullable",
            "x-typia-required": true
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": true,
            "x-typia-required": true
          },
          "type": {
            "type": "string",
            "enum": [
              "customer"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 회원\n- real estate agent 공인중개사\n- home service provider 생활서비스 제공자",
            "x-typia-required": true
          },
          "id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "고객 이름 혹은 상호명",
            "x-typia-required": true
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "email"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "email",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "email"
          },
          "created_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          }
        },
        "nullable": false,
        "required": [
          "birth",
          "gender",
          "address",
          "phone",
          "profile_image_url",
          "type",
          "id",
          "name",
          "email",
          "created_at",
          "updated_at"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSProvider.ISearch": {
        "type": "object",
        "properties": {
          "super_expert_name": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "검색 기준으로 사용할 상위 전문 분야 이름 목록",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "검색 기준으로 사용할 상위 전문 분야 이름 목록",
            "x-typia-required": true
          },
          "sub_expert_name": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "검색 기준으로 사용할 하위 전문 분야 이름 목록",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "검색 기준으로 사용할 하위 전문 분야 이름 목록",
            "x-typia-required": true
          },
          "page": {
            "type": "integer",
            "nullable": false,
            "description": "기본값 1",
            "x-typia-metaTags": [
              {
                "kind": "type",
                "value": "uint"
              },
              {
                "kind": "minimum",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "type",
                "text": [
                  {
                    "text": "uint",
                    "kind": "text"
                  }
                ]
              },
              {
                "name": "minimum",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": false,
            "minimum": 1
          }
        },
        "nullable": false,
        "required": [
          "super_expert_name",
          "sub_expert_name"
        ],
        "x-typia-jsDocTags": []
      },
      "IPaginatedResponse_lt_IHSProvider.IResponse_gt_": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IHSProvider.IResponse",
              "x-typia-required": true
            },
            "nullable": false,
            "x-typia-required": true
          },
          "page": {
            "type": "integer",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "type",
                "value": "uint"
              },
              {
                "kind": "minimum",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "type",
                "text": [
                  {
                    "text": "uint",
                    "kind": "text"
                  }
                ]
              },
              {
                "name": "minimum",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "minimum": 1
          }
        },
        "nullable": false,
        "required": [
          "data",
          "page"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSProvider.IResponse": {
        "type": "object",
        "properties": {
          "introduction": {
            "$ref": "#/components/schemas/IHSProvider.IIntroduction",
            "description": "사업자 소개 정보",
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress",
            "x-typia-required": true
          },
          "business_registration_num": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "is_verified": {
            "type": "boolean",
            "nullable": false,
            "description": "사업자 승인 여부\n\n관리자에 의해서만 변경될 수 있습니다.",
            "x-typia-required": true
          },
          "type": {
            "type": "string",
            "enum": [
              "home service provider"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 회원\n- real estate agent 공인중개사\n- home service provider 생활서비스 제공자",
            "x-typia-required": true
          },
          "id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "고객 이름 혹은 상호명",
            "x-typia-required": true
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "email"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "email",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "email"
          },
          "created_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          },
          "super_expertise": {
            "$ref": "#/components/schemas/IBusinessUser.IExpertise",
            "x-typia-required": true
          },
          "sub_expertises": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IBusinessUser.IExpertise",
              "x-typia-required": true
            },
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "introduction",
          "address",
          "business_registration_num",
          "phone",
          "profile_image_url",
          "is_verified",
          "type",
          "id",
          "name",
          "email",
          "created_at",
          "updated_at",
          "super_expertise",
          "sub_expertises"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSProvider.IIntroduction": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IHSProvider.IIntroductionImage",
              "description": "자체 리뷰 이미지 목록",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "자체 리뷰 이미지 목록",
            "x-typia-required": true
          },
          "title": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "content": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "images",
          "title",
          "content"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSProvider.IIntroductionImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "image_url": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "id",
          "image_url"
        ],
        "x-typia-jsDocTags": []
      },
      "IBusinessUser.IExpertise": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSProvider.IPrivateResponse": {
        "type": "object",
        "properties": {
          "introduction": {
            "$ref": "#/components/schemas/IHSProvider.IIntroduction",
            "description": "사업자 소개 정보",
            "x-typia-required": true
          },
          "address": {
            "$ref": "#/components/schemas/IUser.IAddress",
            "x-typia-required": true
          },
          "business_registration_num": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "is_verified": {
            "type": "boolean",
            "nullable": false,
            "description": "사업자 승인 여부\n\n관리자에 의해서만 변경될 수 있습니다.",
            "x-typia-required": true
          },
          "type": {
            "type": "string",
            "enum": [
              "home service provider"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 회원\n- real estate agent 공인중개사\n- home service provider 생활서비스 제공자",
            "x-typia-required": true
          },
          "id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "고객 이름 혹은 상호명",
            "x-typia-required": true
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "email"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "email",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "email"
          },
          "created_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          },
          "super_expertise": {
            "$ref": "#/components/schemas/IBusinessUser.IExpertise",
            "x-typia-required": true
          },
          "sub_expertises": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IBusinessUser.IExpertise",
              "x-typia-required": true
            },
            "nullable": false,
            "x-typia-required": true
          },
          "agreement_acceptances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAgreement",
              "description": "약관 동의 목록",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "약관 동의 목록",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "introduction",
          "address",
          "business_registration_num",
          "phone",
          "profile_image_url",
          "is_verified",
          "type",
          "id",
          "name",
          "email",
          "created_at",
          "updated_at",
          "super_expertise",
          "sub_expertises",
          "agreement_acceptances"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.ISearch": {
        "type": "object",
        "properties": {
          "super_expert_name": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "검색 기준으로 사용할 상위 전문 분야 이름 목록",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "검색 기준으로 사용할 상위 전문 분야 이름 목록",
            "x-typia-required": true
          },
          "sub_expert_name": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "검색 기준으로 사용할 하위 전문 분야 이름 목록",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "검색 기준으로 사용할 하위 전문 분야 이름 목록",
            "x-typia-required": true
          },
          "page": {
            "type": "integer",
            "nullable": false,
            "description": "기본값 1",
            "x-typia-metaTags": [
              {
                "kind": "type",
                "value": "uint"
              },
              {
                "kind": "minimum",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "type",
                "text": [
                  {
                    "text": "uint",
                    "kind": "text"
                  }
                ]
              },
              {
                "name": "minimum",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": false,
            "minimum": 1
          }
        },
        "nullable": false,
        "required": [
          "super_expert_name",
          "sub_expert_name"
        ],
        "x-typia-jsDocTags": []
      },
      "IPaginatedResponse_lt_IREAgent.IResponse_gt_": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IREAgent.IResponse",
              "x-typia-required": true
            },
            "nullable": false,
            "x-typia-required": true
          },
          "page": {
            "type": "integer",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "type",
                "value": "uint"
              },
              {
                "kind": "minimum",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "type",
                "text": [
                  {
                    "text": "uint",
                    "kind": "text"
                  }
                ]
              },
              {
                "name": "minimum",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "minimum": 1
          }
        },
        "nullable": false,
        "required": [
          "data",
          "page"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.IResponse": {
        "type": "object",
        "properties": {
          "introduction": {
            "$ref": "#/components/schemas/IBusinessUser.IIntroduction",
            "description": "사업자 소개 정보",
            "x-typia-required": true
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "is_verified": {
            "type": "boolean",
            "nullable": false,
            "description": "사업자 승인 여부\n\n관리자에 의해서만 변경될 수 있습니다.",
            "x-typia-required": true
          },
          "type": {
            "type": "string",
            "enum": [
              "real estate agent"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 회원\n- real estate agent 공인중개사\n- home service provider 생활서비스 제공자",
            "x-typia-required": true
          },
          "id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "고객 이름 혹은 상호명",
            "x-typia-required": true
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "email"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "email",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "email"
          },
          "is_licensed": {
            "type": "boolean",
            "nullable": false,
            "description": "개업/소속 공인중개사 표시\n\n- true 개업 공인중개사\n- false 소속 공인중개사",
            "x-typia-required": true
          },
          "real_estate": {
            "$ref": "#/components/schemas/IREAgent.IRealEstate",
            "description": "본인이 속한 부동산 정보",
            "x-typia-required": true
          },
          "created_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          },
          "super_expertise": {
            "$ref": "#/components/schemas/IBusinessUser.IExpertise",
            "x-typia-required": true
          },
          "sub_expertises": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IBusinessUser.IExpertise",
              "x-typia-required": true
            },
            "nullable": false,
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "introduction",
          "phone",
          "profile_image_url",
          "is_verified",
          "type",
          "id",
          "name",
          "email",
          "is_licensed",
          "real_estate",
          "created_at",
          "updated_at",
          "super_expertise",
          "sub_expertises"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.IPrivateResponse": {
        "type": "object",
        "properties": {
          "introduction": {
            "$ref": "#/components/schemas/IBusinessUser.IIntroduction",
            "description": "사업자 소개 정보",
            "x-typia-required": true
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "is_verified": {
            "type": "boolean",
            "nullable": false,
            "description": "사업자 승인 여부\n\n관리자에 의해서만 변경될 수 있습니다.",
            "x-typia-required": true
          },
          "type": {
            "type": "string",
            "enum": [
              "real estate agent"
            ],
            "nullable": false,
            "description": "사용자 분류\n\n- customer 일반 회원\n- real estate agent 공인중개사\n- home service provider 생활서비스 제공자",
            "x-typia-required": true
          },
          "id": {
            "type": "string",
            "nullable": false,
            "x-typia-required": true
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "고객 이름 혹은 상호명",
            "x-typia-required": true
          },
          "email": {
            "type": "string",
            "nullable": true,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "email"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "email",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "email"
          },
          "is_licensed": {
            "type": "boolean",
            "nullable": false,
            "description": "개업/소속 공인중개사 표시\n\n- true 개업 공인중개사\n- false 소속 공인중개사",
            "x-typia-required": true
          },
          "real_estate": {
            "$ref": "#/components/schemas/IREAgent.IRealEstate",
            "description": "본인이 속한 부동산 정보",
            "x-typia-required": true
          },
          "created_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": false,
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "format": "date-time"
          },
          "super_expertise": {
            "$ref": "#/components/schemas/IBusinessUser.IExpertise",
            "x-typia-required": true
          },
          "sub_expertises": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IBusinessUser.IExpertise",
              "x-typia-required": true
            },
            "nullable": false,
            "x-typia-required": true
          },
          "agreement_acceptances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAgreement",
              "description": "약관 동의 목록",
              "x-typia-required": true
            },
            "nullable": false,
            "description": "약관 동의 목록",
            "x-typia-required": true
          }
        },
        "nullable": false,
        "required": [
          "introduction",
          "phone",
          "profile_image_url",
          "is_verified",
          "type",
          "id",
          "name",
          "email",
          "is_licensed",
          "real_estate",
          "created_at",
          "updated_at",
          "super_expertise",
          "sub_expertises",
          "agreement_acceptances"
        ],
        "x-typia-jsDocTags": []
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "bearer": []
    }
  ]
}