{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.zipzoong.com/",
      "description": "Zipzoong REST API"
    }
  ],
  "info": {
    "version": "0.1.0",
    "title": "Zipzoong REST API Doc"
  },
  "paths": {
    "/agreements": {
      "get": {
        "tags": [
          "agreements"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "약관 검색 조건",
            "schema": {
              "$ref": "#/components/schemas/IAgreement.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "약관 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IAgreement.IResponse"
                  },
                  "nullable": false
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "약관 조회",
        "description": "",
        "x-nestia-namespace": "agreements.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "약관 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "agreements",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "약관 검색 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "약관 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/sign-in": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "oauth code, oauth type, user_type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAuthentication.ISignIn"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "200": {
            "description": "tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITokens"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "로그인",
        "description": "전달된 정보에 대응하는 특정 회원에 대한 권한이 부여된 인증 토큰을 발급한다.",
        "x-nestia-namespace": "auth.sign-in.execute",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "로그인",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "oauth code, oauth type, user_type",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "tokens",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/sign-up": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "oauth code, oauth type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAuthentication.ISignUp"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITokens"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "회원가입",
        "description": "회원을 생성하거나 oauth-profile 요청을 위한 인증 토큰을 발급한다.\n\naccessor에 포함된 정보는 회원 정보에 기본값으로 사용할 수 있다.",
        "x-nestia-namespace": "auth.sign-up.execute",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "회원가입",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "oauth code, oauth type",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "tokens",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/profile": {
      "get": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OauthProfile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAuthentication.IProfile"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "소셜 계정 프로필 정보 조회",
        "description": "새로운 회원 정보를 생성할 때, 입력창 기본값을 채우기 위해 사용한다.",
        "x-nestia-namespace": "auth.profile.get",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "소셜 계정 프로필 정보 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "OauthProfile",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/user": {
      "post": {
        "tags": [
          "authentication",
          "users"
        ],
        "parameters": [],
        "requestBody": {
          "description": "사용자 생성 정보",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ICustomer.ICreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/IREAgent.ICreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/IHSProvider.ICreateRequest"
                  }
                ]
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "void",
            "x-nestia-encrypted": false
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "사용자 생성",
        "description": "type 속성을 통해 사용자 분류를 구분한다.\n\n사용자 분류에 따라 포함하는 속성이 달라진다.\n\n다른 속성값은 null, \"\" 등의 속성 기본값이 사용되지만 email, phone은 OauthProfile 정보가 기본값으로 사용된다.\n\n사업자의 경우, phone 정보가 필수다.\n\nOauthProfile phone 정보가 없고, 인증코드도 요청에 포함하지 않았다면 요청은 실패한다.",
        "x-nestia-namespace": "auth.user.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "사용자 생성",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "사용자 생성 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "void",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "400 BadRequest",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/expert-super-categories": {
      "get": {
        "tags": [
          "expert-categories"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "전문 분야 상위 카테고리 필터링 조건",
            "schema": {
              "$ref": "#/components/schemas/IExpertCategory.ISuper.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "전문 분야 상위 카테고리 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IExpertCategory.ISuper"
                  },
                  "nullable": false
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "상위 전문 분야 목록 조회",
        "description": "",
        "x-nestia-namespace": "expert-super-categories.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "상위 전문 분야 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "expert-categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "전문 분야 상위 카테고리 필터링 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "전문 분야 상위 카테고리 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/expert-super-categories/{super_category_id}": {
      "get": {
        "tags": [
          "expert-categories"
        ],
        "parameters": [
          {
            "name": "super_category_id",
            "in": "path",
            "description": "상위 전문 분야 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "상위 전문 분야 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExpertCategory.ISuper"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "NotFound"
          }
        },
        "summary": "상위 전문 분야 조회",
        "description": "",
        "x-nestia-namespace": "expert-super-categories.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "상위 전문 분야 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "expert-categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "super_category_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "상위 전문 분야 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "상위 전문 분야 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 NotFound",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/expert-sub-categories": {
      "get": {
        "tags": [
          "expert-categories"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "하위 전문 분야 필터링 조건",
            "schema": {
              "$ref": "#/components/schemas/IExpertCategory.ISub.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "하위 전문 분야 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IExpertCategory.ISub"
                  },
                  "nullable": false
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "NotFound"
          }
        },
        "summary": "하위 전문 분야 목록 조회",
        "description": "",
        "x-nestia-namespace": "expert-sub-categories.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "하위 전문 분야 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "expert-categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "하위 전문 분야 필터링 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "하위 전문 분야 목록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 NotFound",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/expert-sub-categories/{sub_category_id}": {
      "get": {
        "tags": [
          "expert-categories"
        ],
        "parameters": [
          {
            "name": "sub_category_id",
            "in": "path",
            "description": "하위 전문 분야 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "하위 전문 분야 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExpertCategory.ISub"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "NotFound"
          }
        },
        "summary": "하위 전문 분야 조회",
        "description": "",
        "x-nestia-namespace": "expert-sub-categories.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "하위 전문 분야 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "expert-categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "sub_category_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "하위 전문 분야 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "하위 전문 분야 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 NotFound",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/rate-categories": {
      "get": {
        "tags": [],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "",
            "schema": {
              "$ref": "#/components/schemas/IRateCategory.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IRateCategory"
                  },
                  "nullable": false
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "description": "",
        "x-nestia-namespace": "rate-categories.getList",
        "x-nestia-jsDocTags": []
      }
    },
    "/re-properties": {
      "get": {
        "tags": [
          "re-properties"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "부동산 매물 필터링 조건",
            "schema": {
              "$ref": "#/components/schemas/IREProperty.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPaginatedResponse_lt_IREProperty_gt_"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "부동산 매물 목록 검색",
        "description": "",
        "x-nestia-namespace": "re-properties.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 목록 검색",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 필터링 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 목록",
                "kind": "text"
              }
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "re-properties"
        ],
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IREProperty.ICreateManyRequest"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "부동산 매물 목록",
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "부동산 매물 복수 등록",
        "description": "",
        "x-nestia-namespace": "re-properties.createMany",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 복수 등록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 필터링 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 목록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-property-super-categories": {
      "get": {
        "tags": [
          "re-property-categories"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "부동산 매물 상위 카테고리 필터링 조건",
            "schema": {
              "$ref": "#/components/schemas/IREPropertyCategory.ISuper.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 상위 카테고리 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPaginatedResponse_lt_IREPropertyCategory.ISuper_gt_"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "부동산 매물 상위 카테고리 목록 조회",
        "description": "",
        "x-nestia-namespace": "re-property-super-categories.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 상위 카테고리 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-property-categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 상위 카테고리 필터링 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 상위 카테고리 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-property-super-categories/{super_category_id}": {
      "get": {
        "tags": [
          "re-property-categories"
        ],
        "parameters": [
          {
            "name": "super_category_id",
            "in": "path",
            "description": "부동산 매물 상위 카테고리 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 상위 카테고리",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREPropertyCategory.ISuper"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "부동산 매물 상위 카테고리 조회",
        "description": "",
        "x-nestia-namespace": "re-property-super-categories.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 상위 카테고리 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-property-categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "super_category_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 상위 카테고리 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 상위 카테고리",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-property-middle-categories": {
      "get": {
        "tags": [
          "re-property-categories"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "부동산 매물 중간 카테고리 필터링 조건",
            "schema": {
              "$ref": "#/components/schemas/IREPropertyCategory.IMiddle.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 중간 카테고리 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPaginatedResponse_lt_IREPropertyCategory.IMiddle_gt_"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "부동산 매물 중간 카테고리 목록 조회",
        "description": "",
        "x-nestia-namespace": "re-property-middle-categories.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 중간 카테고리 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-property-categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 중간 카테고리 필터링 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 중간 카테고리 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-property-middle-categories/{middle_category_id}": {
      "get": {
        "tags": [
          "re-property-categories"
        ],
        "parameters": [
          {
            "name": "middle_category_id",
            "in": "path",
            "description": "부동산 매물 중간 카테고리 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 중간 카테고리",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREPropertyCategory.IMiddle"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "부동산 매물 중간 카테고리 조회",
        "description": "",
        "x-nestia-namespace": "re-property-middle-categories.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 중간 카테고리 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-property-categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "middle_category_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 중간 카테고리 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 중간 카테고리",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-property-sub-categories": {
      "get": {
        "tags": [
          "re-property-categories"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "부동산 매물 하위 카테고리 필터링 조건",
            "schema": {
              "$ref": "#/components/schemas/IREPropertyCategory.ISub.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 하위 카테고리 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPaginatedResponse_lt_IREPropertyCategory.ISub_gt_"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "부동산 매물 하위 카테고리 목록 조회",
        "description": "",
        "x-nestia-namespace": "re-property-sub-categories.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 하위 카테고리 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-property-categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 하위 카테고리 필터링 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 하위 카테고리 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-property-sub-categories/{sub_category_id}": {
      "get": {
        "tags": [
          "re-property-categories"
        ],
        "parameters": [
          {
            "name": "sub_category_id",
            "in": "path",
            "description": "부동산 매물 하위 카테고리 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 하위 카테고리",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREPropertyCategory.ISub"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "부동산 매물 하위 카테고리 조회",
        "description": "",
        "x-nestia-namespace": "re-property-sub-categories.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 하위 카테고리 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-property-categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "sub_category_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 하위 카테고리 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 하위 카테고리",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/reviews": {
      "get": {
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "리뷰어 혹은 리뷰 대상자를 조건으로 지정 가능",
            "schema": {
              "$ref": "#/components/schemas/IReview.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "리뷰 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPaginatedResponse_lt_IReview_gt_"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "리뷰 목록 검색",
        "description": "사업자를 기준으로 리뷰를 검색하거나 리뷰어를 기준으로 검색할 수 있습니다.",
        "x-nestia-namespace": "reviews.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "리뷰 목록 검색",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "reviews",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "리뷰어 혹은 리뷰 대상자를 조건으로 지정 가능",
                "kind": "text"
              }
            ]
          },
          {
            "name": "returns",
            "text": [
              {
                "text": "리뷰 목록",
                "kind": "text"
              }
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "reviews"
        ],
        "parameters": [],
        "requestBody": {
          "description": "리뷰 내용과 평점 리스트를 포함",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IReview.ICreateRequest"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "",
            "x-nestia-encrypted": false
          }
        },
        "summary": "리뷰 등록",
        "description": "",
        "x-nestia-namespace": "reviews.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "리뷰 등록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "reviews",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "리뷰 내용과 평점 리스트를 포함",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/customers/me": {
      "get": {
        "tags": [
          "customers",
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "일반 고객 내 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICustomer.IPrivate"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "내 정보 조회",
        "description": "",
        "x-nestia-namespace": "users.customers.me.get",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "내 정보 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "customers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "일반 고객 내 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/customers/{customer_id}": {
      "get": {
        "tags": [
          "customers",
          "users"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "일반 고객 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "일반 고객 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICustomer"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "일반 고객 조회",
        "description": "",
        "x-nestia-namespace": "users.customers.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "일반 고객 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "customers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "customer_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "일반 고객 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "일반 고객 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/hs-providers": {
      "get": {
        "tags": [
          "hs-providers",
          "users"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "필터링 기준",
            "schema": {
              "$ref": "#/components/schemas/IBusinessUser.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "생활서비스 제공자 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPaginatedResponse_lt_IHSProvider_gt_"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "생활서비스 전문가 목록 조회",
        "description": "",
        "x-nestia-namespace": "users.hs-providers.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "생활서비스 전문가 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs-providers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "필터링 기준",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 제공자 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/hs-providers/me": {
      "get": {
        "tags": [
          "hs-providers",
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "생활서비스 전문가 내 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHSProvider.IPrivate"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "내 정보 조회",
        "description": "",
        "x-nestia-namespace": "users.hs-providers.me.get",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "내 정보 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs-providers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 전문가 내 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/hs-providers/{provider_id}": {
      "get": {
        "tags": [
          "hs-providers",
          "users"
        ],
        "parameters": [
          {
            "name": "provider_id",
            "in": "path",
            "description": "생활서비스 전문가 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "생활서비스 제공자 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHSProvider"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "생활서비스 전문가 조회",
        "description": "",
        "x-nestia-namespace": "users.hs-providers.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "생활서비스 전문가 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs-providers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "provider_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "생활서비스 전문가 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 제공자 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents": {
      "get": {
        "tags": [
          "re-agents",
          "users"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "필터링 기준",
            "schema": {
              "$ref": "#/components/schemas/IBusinessUser.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "공인중개사 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPaginatedResponse_lt_IREAgent_gt_"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "공인중개사 목록 검색",
        "description": "",
        "x-nestia-namespace": "users.re-agents.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 목록 검색",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "필터링 기준",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/me": {
      "get": {
        "tags": [
          "re-agents",
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "공인중개사 내 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent.IPrivate"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "공인중개사 내 정보 조회",
        "description": "",
        "x-nestia-namespace": "users.re-agents.me.get",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 내 정보 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 내 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/{agent_id}": {
      "get": {
        "tags": [
          "re-agents",
          "users"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "공인중개사 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "공인중개사 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "공인중개사 조회",
        "description": "",
        "x-nestia-namespace": "users.re-agents.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "agent_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "공인중개사 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/me/properties": {
      "get": {
        "tags": [
          "re-agents",
          "users"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "페이지 정보",
            "schema": {
              "$ref": "#/components/schemas/IREAgent.IProperty.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPaginatedResponse_lt_IREAgent.IProperty_gt_"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "내 매물 목록 조회",
        "description": "공인중개사 프로필에서 매물 목록을 추가로 불러올 때 사용한다.",
        "x-nestia-namespace": "users.re-agents.me.properties.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "내 매물 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "페이지 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 목록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/{agent_id}/properties": {
      "get": {
        "tags": [
          "re-agents",
          "re-properties"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "공인중개사 id",
            "schema": {
              "type": "string",
              "nullable": false
            },
            "required": true
          },
          {
            "name": "query",
            "in": "query",
            "description": "페이지 정보",
            "schema": {
              "$ref": "#/components/schemas/IREAgent.IProperty.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPaginatedResponse_lt_IREAgent.IProperty_gt_"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "매물 목록 조회",
        "description": "공인중개사 프로필에서 매물 목록을 추가로 불러올 때 사용한다.",
        "x-nestia-namespace": "users.re-agents.properties.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "매물 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "agent_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "공인중개사 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "페이지 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 목록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "IAgreement.ISearch": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "customer",
                "all",
                "business",
                "HS",
                "RE"
              ],
              "nullable": false,
              "description": "약관 조회 필터링 기준(최소 1개 필요)\n- all 전체 약관\n- customer 일반 고객 대상 약관\n- business 사업자 대상 약관\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관",
              "x-typia-metaTags": [
                {
                  "kind": "minItems",
                  "value": 1
                }
              ],
              "x-typia-jsDocTags": [
                {
                  "name": "minItems",
                  "text": [
                    {
                      "text": "1",
                      "kind": "text"
                    }
                  ]
                }
              ],
              "x-typia-required": true,
              "x-typia-optional": false
            },
            "nullable": false,
            "description": "약관 조회 필터링 기준(최소 1개 필요)\n- all 전체 약관\n- customer 일반 고객 대상 약관\n- business 사업자 대상 약관\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관",
            "x-typia-metaTags": [
              {
                "kind": "minItems",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "minItems",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "minItems": 1
          }
        },
        "nullable": false,
        "required": [
          "filter"
        ],
        "x-typia-jsDocTags": []
      },
      "IAgreement.IResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "title": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "content": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "user_type": {
            "type": "string",
            "enum": [
              "customer",
              "all",
              "business",
              "HS",
              "RE"
            ],
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "created_at": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "format": "date-time"
          }
        },
        "nullable": false,
        "required": [
          "id",
          "title",
          "content",
          "user_type",
          "created_at",
          "updated_at"
        ],
        "x-typia-jsDocTags": []
      },
      "IAuthentication.ISignIn": {
        "type": "object",
        "properties": {
          "user_type": {
            "type": "string",
            "enum": [
              "customer",
              "real estate agent",
              "home service provider"
            ],
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "code": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "oauth_type": {
            "type": "string",
            "enum": [
              "kakao"
            ],
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "user_type",
          "code",
          "oauth_type"
        ],
        "x-typia-jsDocTags": []
      },
      "ITokens": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "access_token"
        ],
        "x-typia-jsDocTags": []
      },
      "IAuthentication.ISignUp": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "oauth_type": {
            "type": "string",
            "enum": [
              "kakao"
            ],
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "code",
          "oauth_type"
        ],
        "x-typia-jsDocTags": []
      },
      "IAuthentication.IProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "email"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "email",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "format": "email"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "profile_image_url": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "birth": {
            "type": "string",
            "nullable": true,
            "description": "YYYY-MM-DD",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "address": {
            "$ref": "#/components/schemas/IAddress.Nullable",
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "name",
          "email",
          "phone",
          "profile_image_url",
          "birth",
          "gender",
          "address"
        ],
        "x-typia-jsDocTags": []
      },
      "IAddress.Nullable": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "second": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": true,
        "required": [
          "first",
          "second"
        ],
        "x-typia-jsDocTags": []
      },
      "ICustomer.ICreateRequest": {
        "type": "object",
        "properties": {
          "profile_image_url": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "address": {
            "$ref": "#/components/schemas/IAddress.Nullable",
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "birth": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "acceptant_agreement_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "",
              "x-typia-required": true,
              "x-typia-optional": false
            },
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "type": {
            "type": "string",
            "enum": [
              "customer"
            ],
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "email_access_code": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "phone_access_code": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "profile_image_url",
          "address",
          "birth",
          "gender",
          "name",
          "acceptant_agreement_ids",
          "type",
          "email_access_code",
          "phone_access_code"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.ICreateRequest": {
        "type": "object",
        "properties": {
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "acceptant_agreement_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "동의 약관 id 목록",
              "x-typia-required": true,
              "x-typia-optional": false
            },
            "nullable": false,
            "description": "동의 약관 id 목록",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "introduction": {
            "$ref": "#/components/schemas/IBusinessUser.IIntroduction",
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "is_licensed": {
            "type": "boolean",
            "nullable": false,
            "description": "개업/소속 공인중개사 구분\n\ntrue: 개업\nfalse: 소속",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "real_estate": {
            "$ref": "#/components/schemas/IREAgent.IRealEstate",
            "description": "부동산 정보",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "properties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IREAgent.IProperty",
              "description": "부동산 매물 목록",
              "x-typia-required": true,
              "x-typia-optional": false
            },
            "nullable": false,
            "description": "부동산 매물 목록",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "sub_expertise_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "",
              "x-typia-required": true,
              "x-typia-optional": false
            },
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "type": {
            "type": "string",
            "enum": [
              "real estate agent"
            ],
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "email_access_code": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "phone_access_code": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "profile_image_url",
          "name",
          "acceptant_agreement_ids",
          "introduction",
          "is_licensed",
          "real_estate",
          "properties",
          "sub_expertise_ids",
          "type",
          "email_access_code",
          "phone_access_code"
        ],
        "x-typia-jsDocTags": []
      },
      "IBusinessUser.IIntroduction": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "content": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "title",
          "content"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.IRealEstate": {
        "type": "object",
        "properties": {
          "num": {
            "type": "string",
            "nullable": false,
            "description": "부동산개설등록번호",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "부동산 상호명",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "phone": {
            "type": "string",
            "nullable": false,
            "description": "부동산 전화번호",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "licensed_agent_name": {
            "type": "string",
            "nullable": false,
            "description": "부동산 대표자 이름",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "address": {
            "$ref": "#/components/schemas/IAddress",
            "description": "부동산 주소",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "num",
          "name",
          "phone",
          "licensed_agent_name",
          "address"
        ],
        "x-typia-jsDocTags": []
      },
      "IAddress": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "second": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "first",
          "second"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.IProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "created_at": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "format": "date-time"
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "main_image_url": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "sub_categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IREProperty.ISubCategory",
              "description": "",
              "x-typia-required": true,
              "x-typia-optional": false
            },
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "id",
          "created_at",
          "updated_at",
          "name",
          "main_image_url",
          "sub_categories"
        ],
        "x-typia-jsDocTags": []
      },
      "IREProperty.ISubCategory": {
        "type": "object",
        "properties": {
          "middle_category": {
            "$ref": "#/components/schemas/IREProperty.IMiddleCategory",
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "type": {
            "type": "string",
            "enum": [
              "sub"
            ],
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "id": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "middle_category",
          "type",
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "IREProperty.IMiddleCategory": {
        "type": "object",
        "properties": {
          "super_category": {
            "$ref": "#/components/schemas/IREProperty.ISuperCategory",
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "type": {
            "type": "string",
            "enum": [
              "middle"
            ],
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "id": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "super_category",
          "type",
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "IREProperty.ISuperCategory": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "super"
            ],
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "id": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "type",
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSProvider.ICreateRequest": {
        "type": "object",
        "properties": {
          "profile_image_url": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "address": {
            "$ref": "#/components/schemas/IAddress",
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "acceptant_agreement_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "",
              "x-typia-required": true,
              "x-typia-optional": false
            },
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "introduction": {
            "$ref": "#/components/schemas/IHSProvider.ICreateIntroduction",
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "sub_expertise_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "",
              "x-typia-required": true,
              "x-typia-optional": false
            },
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "business_registration_num": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "type": {
            "type": "string",
            "enum": [
              "home service provider"
            ],
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "email_access_code": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "phone_access_code": {
            "type": "string",
            "nullable": true,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "profile_image_url",
          "address",
          "name",
          "acceptant_agreement_ids",
          "introduction",
          "sub_expertise_ids",
          "business_registration_num",
          "type",
          "email_access_code",
          "phone_access_code"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSProvider.ICreateIntroduction": {
        "type": "object",
        "properties": {
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": false,
              "description": "",
              "x-typia-required": true,
              "x-typia-optional": false
            },
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "title": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "content": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "image_urls",
          "title",
          "content"
        ],
        "x-typia-jsDocTags": []
      },
      "IExpertCategory.ISuper.ISearch": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "HS",
                "RE"
              ],
              "nullable": false,
              "description": "전문 분야 카테고리 조회 필터링 기준(최소 1개 필요)\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관",
              "x-typia-metaTags": [
                {
                  "kind": "minItems",
                  "value": 1
                }
              ],
              "x-typia-jsDocTags": [
                {
                  "name": "minItems",
                  "text": [
                    {
                      "text": "1",
                      "kind": "text"
                    }
                  ]
                }
              ],
              "x-typia-required": true,
              "x-typia-optional": false
            },
            "nullable": false,
            "description": "전문 분야 카테고리 조회 필터링 기준(최소 1개 필요)\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관",
            "x-typia-metaTags": [
              {
                "kind": "minItems",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "minItems",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "minItems": 1
          }
        },
        "nullable": false,
        "required": [
          "filter"
        ],
        "x-typia-jsDocTags": []
      },
      "IExpertCategory.ISuper": {
        "type": "object",
        "properties": {
          "business_type": {
            "type": "string",
            "enum": [
              "HS",
              "RE"
            ],
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "sub_categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Omit_lt_IExpertCategory.ISub_comma__space__doublequote_super_category_doublequote__gt_",
              "description": "",
              "x-typia-required": true,
              "x-typia-optional": false
            },
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "type": {
            "type": "string",
            "enum": [
              "super"
            ],
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "id": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "business_type",
          "sub_categories",
          "type",
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "Omit_lt_IExpertCategory.ISub_comma__space__doublequote_super_category_doublequote__gt_": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "sub"
            ],
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "id": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "name": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "type",
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "IExpertCategory.ISub.ISearch": {
        "type": "object",
        "properties": {
          "super_category_name": {
            "type": "string",
            "nullable": false,
            "description": "",
            "x-typia-required": false,
            "x-typia-optional": true
          },
          "filter": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "HS",
                "RE"
              ],
              "nullable": false,
              "description": "전문 분야 카테고리 조회 필터링 기준(최소 1개 필요)\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관",
[...]
