{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.zipzoong.co.kr",
      "description": "Zipzoong API Server"
    }
  ],
  "info": {
    "version": "0.0.1",
    "title": "Zipzoong RESTAPI",
    "description": "Zipzoong Server API document"
  },
  "paths": {
    "/agreements": {
      "get": {
        "tags": [
          "agreements"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "약관 검색 조건",
            "schema": {
              "$ref": "#/components/schemas/IAgreement.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "약관 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IAgreement"
                  }
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "약관 조회",
        "description": "",
        "x-nestia-namespace": "agreements.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "약관 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "agreements",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "약관 검색 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "약관 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/sign-in": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "oauth code, oauth type, user_type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAuthentication.ISignIn"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "200": {
            "description": "tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAuthentication.IResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "로그인",
        "description": "전달된 정보에 대응하는 특정 회원에 대한 권한이 부여된 인증 토큰을 발급한다.",
        "x-nestia-namespace": "auth.sign-in.execute",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "로그인",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "oauth code, oauth type, user_type",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "tokens",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/sign-in/{oauth_type}": {
      "get": {
        "tags": [
          "authentication"
        ],
        "parameters": [
          {
            "name": "oauth_type",
            "in": "path",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "kakao"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "302": {
            "description": "redirect",
            "x-nestia-encrypted": false
          }
        },
        "summary": "oauth login redirect api",
        "description": "해당 API는 ajax API 방식으로 호출하면 안되고,\ndocument api 형식으로 요청해야 합니다.",
        "x-nestia-namespace": "auth.sign-in.redirect",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "oauth login redirect api",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "oauth_type",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "redirect",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/sign-up": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "oauth code, oauth type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAuthentication.ISignUp"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "account_token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAuthentication.IAccountToken"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "회원가입",
        "description": "회원을 생성하거나 oauth-profile 요청을 위한 인증 토큰을 발급한다.\n\naccessor에 포함된 정보는 회원 정보에 기본값으로 사용할 수 있다.",
        "x-nestia-namespace": "auth.sign-up.execute",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "회원가입",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "oauth code, oauth type",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "account_token",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/profile": {
      "get": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OauthProfile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAuthentication.IProfile"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "소셜 계정 프로필 정보 조회",
        "description": "새로운 회원 정보를 생성할 때, 입력창 기본값을 채우기 위해 사용한다.",
        "x-nestia-namespace": "auth.profile.get",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "소셜 계정 프로필 정보 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "OauthProfile",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/user": {
      "post": {
        "tags": [
          "authentication",
          "users"
        ],
        "parameters": [],
        "requestBody": {
          "description": "사용자 생성 정보",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ICustomer.ICreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/IREAgent.ICreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/IHSProvider.ICreateRequest"
                  }
                ]
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAuthentication.IResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "사용자 생성",
        "description": "type 속성을 통해 사용자 분류를 구분한다.\n\n사용자 분류에 따라 포함하는 속성이 달라진다.\n\n다른 속성값은 null, \"\" 등의 속성 기본값이 사용되지만 email, phone은 OauthProfile 정보가 기본값으로 사용된다.\n\n사업자의 경우, phone 정보가 필수다.\n\nOauthProfile phone 정보가 없고, 인증코드도 요청에 포함하지 않았다면 요청은 실패한다.",
        "x-nestia-namespace": "auth.user.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "사용자 생성",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "사용자 생성 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "tokens",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "400 BadRequest",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/token/refresh": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "access_token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAuthentication.IAccessToken"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "token refresh",
        "description": "",
        "x-nestia-namespace": "auth.token.refresh.execute",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "token refresh",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "access_token",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/phone/request": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "phone authentication input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IPhoneAuthentication.IRequest.Input"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "authentication expired date-time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPhoneAuthentication.IRequest.Output"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "phone authentication request",
        "description": "해당 API를 호출시, 전달된 휴대폰 번호로 문자를 전송합니다.",
        "x-nestia-namespace": "auth.phone.request.execute",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "phone authentication request",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "phone authentication input",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "authentication expired date-time",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/auth/phone/verify": {
      "post": {
        "tags": [
          "authentication"
        ],
        "parameters": [],
        "requestBody": {
          "description": "phone verify input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Mutable_lt_IPhoneAuthentication_gt_"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "200": {
            "description": "phone_authentication_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPhoneAuthentication.IVerify.Output"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "phone verify",
        "description": "phone authentication request를 통해 생성한 정보에 대해 인증을 진행합니다.\n\n응답 결과에 담긴 식별자는 회원 정보 생성/수정시에 사용되며, 식별되는 휴대폰 번호를 저장합니다.",
        "x-nestia-namespace": "auth.phone.verify.execute",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "phone verify",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "authentication",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "phone verify input",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "phone_authentication_id",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-properties": {
      "get": {
        "tags": [
          "re-properties"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "부동산 매물 필터링 조건",
            "schema": {
              "$ref": "#/components/schemas/IREProperty.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREProperty.IPaginatedResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "부동산 매물 목록 검색",
        "description": "",
        "x-nestia-namespace": "re-properties.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 목록 검색",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 필터링 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 목록",
                "kind": "text"
              }
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "re-properties"
        ],
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IREProperty.ICreateManyRequest"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "부동산 매물 목록",
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "부동산 매물 복수 등록",
        "description": "",
        "x-nestia-namespace": "re-properties.createMany",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 복수 등록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 필터링 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 목록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-property-categories/super": {
      "get": {
        "tags": [
          "re-properties",
          "categories"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "부동산 매물 상위 카테고리 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IREPropertyCategory.ISuper"
                  }
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "부동산 매물 상위 카테고리 목록 조회",
        "description": "",
        "x-nestia-namespace": "re-property-categories.super.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 상위 카테고리 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 상위 카테고리 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-property-categories/super/{super_category_id}": {
      "get": {
        "tags": [
          "re-properties",
          "categories"
        ],
        "parameters": [
          {
            "name": "super_category_id",
            "in": "path",
            "description": "부동산 매물 상위 카테고리 id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 상위 카테고리",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREPropertyCategory.ISuper"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "부동산 매물 상위 카테고리 조회",
        "description": "",
        "x-nestia-namespace": "re-property-categories.super.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 상위 카테고리 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "super_category_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 상위 카테고리 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 상위 카테고리",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/re-property-categories/middle/{middle_category_id}": {
      "get": {
        "tags": [
          "re-properties",
          "categories"
        ],
        "parameters": [
          {
            "name": "middle_category_id",
            "in": "path",
            "description": "부동산 매물 중위 카테고리 id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 중위 카테고리",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREPropertyCategory.IMiddle"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "부동산 매물 중위 카테고리 조회",
        "description": "",
        "x-nestia-namespace": "re-property-categories.middle.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "부동산 매물 중위 카테고리 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "middle_category_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "부동산 매물 중위 카테고리 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 중위 카테고리",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/reviews": {
      "get": {
        "tags": [
          "reviews"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "리뷰어 혹은 리뷰 대상자를 조건으로 지정 가능",
            "schema": {
              "$ref": "#/components/schemas/IReview.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "리뷰 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IReview.IPaginatedResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "리뷰 목록 검색",
        "description": "사업자를 기준으로 리뷰를 검색하거나 리뷰어를 기준으로 검색할 수 있습니다.",
        "x-nestia-namespace": "reviews.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "리뷰 목록 검색",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "reviews",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "리뷰어 혹은 리뷰 대상자를 조건으로 지정 가능",
                "kind": "text"
              }
            ]
          },
          {
            "name": "returns",
            "text": [
              {
                "text": "리뷰 목록",
                "kind": "text"
              }
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "reviews"
        ],
        "parameters": [],
        "requestBody": {
          "description": "리뷰 내용과 평점 리스트를 포함",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IReview.ICreateRequest"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "",
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "리뷰 등록",
        "description": "",
        "x-nestia-namespace": "reviews.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "리뷰 등록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "reviews",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "리뷰 내용과 평점 리스트를 포함",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/service-categories/super": {
      "get": {
        "tags": [
          "services",
          "categories"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "서비스 상위 카테고리 목록 검색 조건",
            "schema": {
              "$ref": "#/components/schemas/IServiceCategory.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "서비스 상위 카테고리 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IServiceCategory.ISuper"
                  }
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "서비스 상위 카테고리 목록 검색",
        "description": "",
        "x-nestia-namespace": "service-categories.super.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "서비스 상위 카테고리 목록 검색",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "services",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "서비스 상위 카테고리 목록 검색 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "서비스 상위 카테고리 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/service-categories/super/{super_category_id}": {
      "get": {
        "tags": [
          "services",
          "categories"
        ],
        "parameters": [
          {
            "name": "super_category_id",
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "서비스 상위 카테고리 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IServiceCategory.ISuper"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "서비스 상위 카테고리 조회",
        "description": "",
        "x-nestia-namespace": "service-categories.super.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "서비스 상위 카테고리 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "services",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "categories",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "category_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "서비스 상위 카테고리 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "서비스 상위 카테고리 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/customers/me": {
      "get": {
        "tags": [
          "customers",
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "일반 고객 내 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICustomer.IPrivate"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "내 정보 조회",
        "description": "",
        "x-nestia-namespace": "users.customers.me.get",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "내 정보 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "customers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "일반 고객 내 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/customers/me/zipzoong-care/requests": {
      "get": {
        "tags": [
          "customers",
          "zipzoong-care"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "목록 검색 조건",
            "schema": {
              "$ref": "#/components/schemas/IZipzoongCareRequest.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "집중 케어 신청 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IZipzoongCareRequest.IPaginatedResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "집중 케어 신청 목록 검색",
        "description": "",
        "x-nestia-namespace": "users.customers.me.zipzoong-care.requests.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "집중 케어 신청 목록 검색",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "customers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "zipzoong-care",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "목록 검색 조건",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "집중 케어 신청 목록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "customers",
          "zipzoong-care"
        ],
        "parameters": [],
        "requestBody": {
          "description": "집중 케어 신청 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IZipzoongCareRequest.ICreateRequest"
              }
            }
          },
          "required": true,
          "x-nestia-encrypted": false
        },
        "responses": {
          "201": {
            "description": "",
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "집중 케어 신청",
        "description": "",
        "x-nestia-namespace": "users.customers.me.zipzoong-care.requests.create",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "집중 케어 신청",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "customers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "zipzoong-care",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "body",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "집중 케어 신청 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/hs-providers": {
      "get": {
        "tags": [
          "hs-providers",
          "users"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "필터링 기준",
            "schema": {
              "$ref": "#/components/schemas/IBusinessUser.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "생활서비스 제공자 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHSProvider.IPaginatedResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "생활서비스 전문가 목록 조회",
        "description": "",
        "x-nestia-namespace": "users.hs-providers.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "생활서비스 전문가 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs-providers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "필터링 기준",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 제공자 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/hs-providers/me": {
      "get": {
        "tags": [
          "hs-providers",
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "생활서비스 전문가 내 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHSProvider.IPrivate"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "내 정보 조회",
        "description": "",
        "x-nestia-namespace": "users.hs-providers.me.get",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "내 정보 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs-providers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 전문가 내 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/hs-providers/{provider_id}": {
      "get": {
        "tags": [
          "hs-providers",
          "users"
        ],
        "parameters": [
          {
            "name": "provider_id",
            "in": "path",
            "description": "생활서비스 전문가 id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "생활서비스 제공자 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHSProvider"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "생활서비스 전문가 조회",
        "description": "",
        "x-nestia-namespace": "users.hs-providers.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "생활서비스 전문가 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "hs-providers",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "provider_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "생활서비스 전문가 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "생활서비스 제공자 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents": {
      "get": {
        "tags": [
          "re-agents",
          "users"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "필터링 기준",
            "schema": {
              "$ref": "#/components/schemas/IBusinessUser.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "공인중개사 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent.IPaginatedResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          }
        },
        "summary": "공인중개사 목록 검색",
        "description": "",
        "x-nestia-namespace": "users.re-agents.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 목록 검색",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "필터링 기준",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 목록",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/me": {
      "get": {
        "tags": [
          "re-agents",
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "공인중개사 내 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent.IPrivate"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "공인중개사 내 정보 조회",
        "description": "",
        "x-nestia-namespace": "users.re-agents.me.get",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 내 정보 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 내 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/{agent_id}": {
      "get": {
        "tags": [
          "re-agents",
          "users"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "공인중개사 id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "공인중개사 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "공인중개사 조회",
        "description": "",
        "x-nestia-namespace": "users.re-agents.getOne",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "공인중개사 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "users",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "agent_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "공인중개사 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "공인중개사 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/me/properties": {
      "get": {
        "tags": [
          "re-agents",
          "re-properties"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "페이지 정보",
            "schema": {
              "$ref": "#/components/schemas/IREAgent.IProperty.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent.IProperty.IPaginatedResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "내 매물 목록 조회",
        "description": "공인중개사 프로필에서 매물 목록을 추가로 불러올 때 사용한다.",
        "x-nestia-namespace": "users.re-agents.me.properties.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "내 매물 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "페이지 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 목록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "401 Unauthorized",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "403 Forbidden",
                "kind": "text"
              }
            ]
          }
        ]
      }
    },
    "/users/re-agents/{agent_id}/properties": {
      "get": {
        "tags": [
          "re-agents",
          "re-properties"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "공인중개사 id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "query",
            "in": "query",
            "description": "페이지 정보",
            "schema": {
              "$ref": "#/components/schemas/IREAgent.IProperty.ISearch"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "부동산 매물 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IREAgent.IProperty.IPaginatedResponse"
                }
              }
            },
            "x-nestia-encrypted": false
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "매물 목록 조회",
        "description": "공인중개사 프로필에서 매물 목록을 추가로 불러올 때 사용한다.",
        "x-nestia-namespace": "users.re-agents.properties.getList",
        "x-nestia-jsDocTags": [
          {
            "name": "summary",
            "text": [
              {
                "text": "매물 목록 조회",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-agents",
                "kind": "text"
              }
            ]
          },
          {
            "name": "tag",
            "text": [
              {
                "text": "re-properties",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "agent_id",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "공인중개사 id",
                "kind": "text"
              }
            ]
          },
          {
            "name": "param",
            "text": [
              {
                "text": "query",
                "kind": "parameterName"
              },
              {
                "text": " ",
                "kind": "space"
              },
              {
                "text": "페이지 정보",
                "kind": "text"
              }
            ]
          },
          {
            "name": "return",
            "text": [
              {
                "text": "부동산 매물 목록",
                "kind": "text"
              }
            ]
          },
          {
            "name": "throw",
            "text": [
              {
                "text": "404 Not Found",
                "kind": "text"
              }
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "IAgreement.ISearch": {
        "type": "object",
        "properties": {
          "target_type": {
            "description": "약관 조회 필터링 기준(최소 1개 필요)\n- all 전체 약관\n- customer 일반 고객 대상 약관\n- business 사업자 대상 약관\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관\n\n@minItems 1",
            "x-typia-metaTags": [
              {
                "kind": "minItems",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "minItems",
                "text": [
                  {
                    "text": "1",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "description": "약관 조회 필터링 기준(최소 1개 필요)\n- all 전체 약관\n- customer 일반 고객 대상 약관\n- business 사업자 대상 약관\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관\n\n@minItems 1",
              "x-typia-metaTags": [
                {
                  "kind": "minItems",
                  "value": 1
                }
              ],
              "x-typia-jsDocTags": [
                {
                  "name": "minItems",
                  "text": [
                    {
                      "text": "1",
                      "kind": "text"
                    }
                  ]
                }
              ],
              "x-typia-required": true,
              "x-typia-optional": false,
              "type": "string",
              "enum": [
                "customer",
                "all",
                "business",
                "HS",
                "RE"
              ]
            },
            "minItems": 1
          }
        },
        "nullable": false,
        "required": [
          "target_type"
        ],
        "description": "약관 조회 필터링 기준(최소 1개 필요)\n- all 전체 약관\n- customer 일반 고객 대상 약관\n- business 사업자 대상 약관\n- RE 공인중개사 대상 약관\n- HS 생활서비스 대상 약관\n\n@minItems 1",
        "x-typia-jsDocTags": []
      },
      "IAgreement": {
        "type": "object",
        "properties": {
          "id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "title": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "content": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "target_type": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "customer",
              "all",
              "business",
              "HS",
              "RE"
            ]
          },
          "is_required": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "boolean"
          },
          "created_at": {
            "description": "@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "description": "@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          }
        },
        "nullable": false,
        "required": [
          "id",
          "title",
          "content",
          "target_type",
          "is_required",
          "created_at",
          "updated_at"
        ],
        "x-typia-jsDocTags": []
      },
      "IAuthentication.ISignIn": {
        "type": "object",
        "properties": {
          "user_type": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "customer",
              "real estate agent",
              "home service provider"
            ]
          },
          "code": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "oauth_type": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "kakao"
            ]
          }
        },
        "nullable": false,
        "required": [
          "user_type",
          "code",
          "oauth_type"
        ],
        "x-typia-jsDocTags": []
      },
      "IAuthentication.IResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "description": "특정 사용자 정보에 대한 권한을 가지고 있습니다.",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "access_token_expired_at": {
            "description": "access_token 만료일자\n@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          },
          "refresh_token": {
            "description": "특정 사용자 정보에 대한 access token을 재발급 받기 위해 사용합니다.",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "refresh_token_expired_at": {
            "description": "refresh_token 만료일자\n@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          }
        },
        "nullable": false,
        "required": [
          "access_token",
          "access_token_expired_at",
          "refresh_token",
          "refresh_token_expired_at"
        ],
        "x-typia-jsDocTags": []
      },
      "IAuthentication.ISignUp": {
        "type": "object",
        "properties": {
          "code": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "oauth_type": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "kakao"
            ]
          }
        },
        "nullable": false,
        "required": [
          "code",
          "oauth_type"
        ],
        "x-typia-jsDocTags": []
      },
      "IAuthentication.IAccountToken": {
        "type": "object",
        "properties": {
          "account_token": {
            "description": "회원 가입시 발급됩니다.\n\n다음과 같은 작업을 할 수 있습니다.\n- 사용자 정보 생성\n- 계정 프로필 조회",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          }
        },
        "nullable": false,
        "required": [
          "account_token"
        ],
        "description": "회원 가입시 발급됩니다.\n\n다음과 같은 작업을 할 수 있습니다.\n- 사용자 정보 생성\n- 계정 프로필 조회",
        "x-typia-jsDocTags": []
      },
      "IAuthentication.IProfile": {
        "type": "object",
        "properties": {
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          },
          "email": {
            "description": "@format email",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "email"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "email",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "phone": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          },
          "profile_image_url": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          },
          "birth": {
            "description": "YYYY-MM-DD\n@format date",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "gender": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/IAddress.Nullable",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "name",
          "email",
          "phone",
          "profile_image_url",
          "birth",
          "gender",
          "address"
        ],
        "description": "YYYY-MM-DD\n@format date",
        "x-typia-jsDocTags": []
      },
      "IAddress.Nullable": {
        "type": "object",
        "properties": {
          "first": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "second": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true,
        "required": [
          "first",
          "second"
        ],
        "x-typia-jsDocTags": []
      },
      "ICustomer.ICreateRequest": {
        "type": "object",
        "properties": {
          "profile_image_url": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/IAddress.Nullable",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "birth": {
            "description": "@format date",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "date"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "gender": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "female",
              "male",
              "other"
            ],
            "nullable": true
          },
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "acceptant_agreement_ids": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "x-typia-required": true,
              "x-typia-optional": false,
              "type": "string"
            }
          },
          "type": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "customer"
            ]
          },
          "email_authentication_id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          },
          "phone_authentication_id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          }
        },
        "nullable": false,
        "required": [
          "profile_image_url",
          "address",
          "birth",
          "gender",
          "name",
          "acceptant_agreement_ids",
          "type",
          "email_authentication_id",
          "phone_authentication_id"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.ICreateRequest": {
        "type": "object",
        "properties": {
          "profile_image_url": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "acceptant_agreement_ids": {
            "description": "동의 약관 id 목록",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "description": "동의 약관 id 목록",
              "x-typia-required": true,
              "x-typia-optional": false,
              "type": "string"
            }
          },
          "review_stats": {
            "$ref": "#/components/schemas/IBusinessUser.IReviewStats",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "introduction": {
            "$ref": "#/components/schemas/IBusinessUser.IIntroduction",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "is_licensed": {
            "description": "개업/소속 공인중개사 구분\n\ntrue: 개업\nfalse: 소속",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "boolean"
          },
          "real_estate": {
            "$ref": "#/components/schemas/IREAgent.IRealEstate",
            "description": "부동산 정보",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "properties": {
            "description": "부동산 매물 목록",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IREAgent.IProperty",
              "description": "부동산 매물 목록",
              "x-typia-required": true,
              "x-typia-optional": false
            }
          },
          "sub_expertise_ids": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "x-typia-required": true,
              "x-typia-optional": false,
              "type": "string"
            }
          },
          "type": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "real estate agent"
            ]
          },
          "email_authentication_id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          },
          "phone_authentication_id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          }
        },
        "nullable": false,
        "required": [
          "profile_image_url",
          "name",
          "acceptant_agreement_ids",
          "review_stats",
          "introduction",
          "is_licensed",
          "real_estate",
          "properties",
          "sub_expertise_ids",
          "type",
          "email_authentication_id",
          "phone_authentication_id"
        ],
        "x-typia-jsDocTags": []
      },
      "IBusinessUser.IReviewStats": {
        "type": "object",
        "properties": {
          "review_cnt": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "number"
          },
          "rating_avg": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "number"
          }
        },
        "nullable": false,
        "required": [
          "review_cnt",
          "rating_avg"
        ],
        "x-typia-jsDocTags": []
      },
      "IBusinessUser.IIntroduction": {
        "type": "object",
        "properties": {
          "title": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "content": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          }
        },
        "nullable": false,
        "required": [
          "title",
          "content"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.IRealEstate": {
        "type": "object",
        "properties": {
          "num": {
            "description": "부동산개설등록번호",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "name": {
            "description": "부동산 상호명",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "phone": {
            "description": "부동산 전화번호",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "licensed_agent_name": {
            "description": "부동산 대표자 이름",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/IAddress",
            "description": "부동산 주소",
            "x-typia-required": true,
            "x-typia-optional": false
          }
        },
        "nullable": false,
        "required": [
          "num",
          "name",
          "phone",
          "licensed_agent_name",
          "address"
        ],
        "description": "부동산 주소",
        "x-typia-jsDocTags": []
      },
      "IAddress": {
        "type": "object",
        "properties": {
          "first": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "second": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          }
        },
        "nullable": false,
        "required": [
          "first",
          "second"
        ],
        "x-typia-jsDocTags": []
      },
      "IREAgent.IProperty": {
        "type": "object",
        "properties": {
          "id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "created_at": {
            "description": "@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "description": "@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "main_image_url": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "sub_categories": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IREProperty.ISubCategory",
              "x-typia-required": true,
              "x-typia-optional": false
            }
          }
        },
        "nullable": false,
        "required": [
          "id",
          "created_at",
          "updated_at",
          "name",
          "main_image_url",
          "sub_categories"
        ],
        "x-typia-jsDocTags": []
      },
      "IREProperty.ISubCategory": {
        "type": "object",
        "properties": {
          "middle_category": {
            "$ref": "#/components/schemas/IREProperty.IMiddleCategory",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "level": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "sub"
            ]
          },
          "id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          }
        },
        "nullable": false,
        "required": [
          "middle_category",
          "level",
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "IREProperty.IMiddleCategory": {
        "type": "object",
        "properties": {
          "super_category": {
            "$ref": "#/components/schemas/IREProperty.ISuperCategory",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "level": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "middle"
            ]
          },
          "id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          }
        },
        "nullable": false,
        "required": [
          "super_category",
          "level",
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "IREProperty.ISuperCategory": {
        "type": "object",
        "properties": {
          "level": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "super"
            ]
          },
          "id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          }
        },
        "nullable": false,
        "required": [
          "level",
          "id",
          "name"
        ],
        "x-typia-jsDocTags": []
      },
      "IHSProvider.ICreateRequest": {
        "type": "object",
        "properties": {
          "profile_image_url": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/IAddress",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "name": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "acceptant_agreement_ids": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "x-typia-required": true,
              "x-typia-optional": false,
              "type": "string"
            }
          },
          "review_stats": {
            "$ref": "#/components/schemas/IBusinessUser.IReviewStats",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "introduction": {
            "$ref": "#/components/schemas/IBusinessUser.IIntroduction",
            "x-typia-required": true,
            "x-typia-optional": false
          },
          "sub_expertise_ids": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "x-typia-required": true,
              "x-typia-optional": false,
              "type": "string"
            }
          },
          "business_registration_num": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "example_image_urls": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "array",
            "items": {
              "x-typia-required": true,
              "x-typia-optional": false,
              "type": "string"
            }
          },
          "type": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "enum": [
              "home service provider"
            ]
          },
          "email_authentication_id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          },
          "phone_authentication_id": {
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "nullable": true
          }
        },
        "nullable": false,
        "required": [
          "profile_image_url",
          "address",
          "name",
          "acceptant_agreement_ids",
          "review_stats",
          "introduction",
          "sub_expertise_ids",
          "business_registration_num",
          "example_image_urls",
          "type",
          "email_authentication_id",
          "phone_authentication_id"
        ],
        "x-typia-jsDocTags": []
      },
      "IAuthentication.IAccessToken": {
        "type": "object",
        "properties": {
          "access_token": {
            "description": "특정 사용자 정보에 대한 권한을 가지고 있습니다.",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          },
          "access_token_expired_at": {
            "description": "access_token 만료일자\n@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          }
        },
        "nullable": false,
        "required": [
          "access_token",
          "access_token_expired_at"
        ],
        "description": "access_token 만료일자\n@format date-time",
        "x-typia-jsDocTags": []
      },
      "IPhoneAuthentication.IRequest.Input": {
        "type": "object",
        "properties": {
          "phone": {
            "description": "@format ^[0-9]+$",
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "^[0-9]+$",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "^[0-9]+$"
          }
        },
        "nullable": false,
        "required": [
          "phone"
        ],
        "x-typia-jsDocTags": []
      },
      "IPhoneAuthentication.IRequest.Output": {
        "type": "object",
        "properties": {
          "expired_at": {
            "description": "인증 요청 만료 일시\n\n@format date-time",
            "x-typia-metaTags": [
              {
                "kind": "format",
                "value": "datetime"
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "date-time",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "date-time"
          }
        },
        "nullable": false,
        "required": [
          "expired_at"
        ],
        "description": "인증 요청 만료 일시\n\n@format date-time",
        "x-typia-jsDocTags": []
      },
      "Mutable_lt_IPhoneAuthentication_gt_": {
        "type": "object",
        "properties": {
          "phone": {
            "description": "@format ^[0-9]+$",
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "^[0-9]+$",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "^[0-9]+$"
          },
          "code": {
            "description": "@format ^[0-9]{6}$",
            "x-typia-jsDocTags": [
              {
                "name": "format",
                "text": [
                  {
                    "text": "^[0-9]{6}$",
                    "kind": "text"
                  }
                ]
              }
            ],
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string",
            "format": "^[0-9]{6}$"
          }
        },
        "nullable": false,
        "required": [
          "phone",
          "code"
        ],
        "x-typia-jsDocTags": []
      },
      "IPhoneAuthentication.IVerify.Output": {
        "type": "object",
        "properties": {
          "phone_authentication_id": {
            "description": "휴대폰 인증 정보 식별자\n\n회원가입/회원정보 수정시 해당 정보를 전달하면 인증 정보에 저장된 휴대폰 번호가 사용자 정보에게 적용됩니다.\n\n",
            "x-typia-required": true,
            "x-typia-optional": false,
            "type": "string"
          }
        },
        "nullable": false,
        "required": [
          "phone_authentication_id"
        ],
        "description": "휴대폰 인증 정보 식별자\n\n회원가입/회원정보 수정시 해당 정보를 전달하면 인증 정보에 저장된 휴대폰 번호가 사용자 정보에게 적용됩니다.\n\n",
        "x-typia-jsDocTags": []
      },
      "IREProperty.ISearch": {
        "type": "object",
        "properties": {
          "super_category_id": {
            "x-typia-required": false,
            "x-typia-optional": true,
            "type": "string"
          },
          "middle_category_id": {
            "x-typia-required": false,
            "x-typia-optional": true,
            "type": "string"
          },
          "sub_category_id": {
            "x-typia-required": false,
            "x-typia-optional": true,
            "type": "string"
          },
          "page": {
            "description": "@default 1\n@type uint\n@minimum 1",
            "x-typia-metaTags": [
              {
                "kind": "type",
                "value": "uint"
              },
              {
                "kind": "minimum",
                "value": 1
              }
            ],
            "x-typia-jsDocTags": [
              {
                "name": "default",
                "text": [
                  {
                    "text": "1",
[...]
